.product-block {
  margin-top: 20px;
  margin-bottom: 80px;

  &__top {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: minmax(0, 1fr) 1fr;
    margin-top: 40px;
  }

  &__slider-wrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 67px minmax(0, 1fr);
  }

  &__slider-thumbs {
    .swiper {
      height: 508px;
    }
  }

  &__slider-main {
    display: flex;
  }

  &__main-slide {
    display: flex;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      background-color: var(--color-bg-grey);
    }
  }

  &__thumb-slide {
    display: flex;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.75;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      background-color: var(--color-bg-grey);
    }
  }

  &__tabs {
    margin-top: 50px;
  }

  .swiper-slide-thumb-active > &__thumb-slide {
    opacity: 1;
  }

  @media (max-width: 1024px) {
    &__slider-wrapper {
      grid-template-areas: 'main' 'thumbs';
      grid-template-columns: minmax(0, 1fr);
    }

    &__slider-main {
      grid-area: main;
    }

    &__slider-thumbs {
      grid-area: thumbs;

      .swiper {
        height: auto;
      }
    }
  }

  @media (max-width: 768px) {
    margin-top: 12px;
    margin-bottom: 40px;

    &__top {
      grid-gap: 10px;
      margin-top: 15px;
    }
  }

  @media (max-width: 600px) {
    &__top {
      grid-gap: 24px;
      grid-template-columns: minmax(0, 1fr);
    }
  }
}
