<div class="account js-additional-content" >
  <button class="btn account__btn js-btn-triangle " data-additional="btn">
    <svg class="account__user-icon" width="20" height="20" ><use xlink:href="sprite.svg#user"></use></svg>
    <span>Мой аккаунт</span>
    <svg class="account__triangle-icon" width="8" height="4"><use xlink:href="sprite.svg#triangle"></use></svg>
  </button>
  <div class="account__inner " data-additional="content">
    {{ component('side-menu', {
      list: [
        {text: "Личные данные" },
        {text: "Мои адреса", active: true },
        {text: "Смена пароля"},
        {text: "Избранное"},
        {text: "История заказов"},
        {text: "Персональные скидки"},
        {text: "Подписка на рассылки"}
      ],
      exit: "Выход"
    }) }}
  </div>
</div>
