<div class='aside-socials'>
    <a href='#!' class='a-clear aside-socials__item aside-socials__item_type_telegram'>
      <svg width="18" height="15">
        <use xlink:href='sprite.svg#telegram'></use>
      </svg>
    </a>
    <a href='#!' class='a-clear aside-socials__item aside-socials__item_type_whatsapp'>
      <svg width="21" height="21">
        <use xlink:href='sprite.svg#whatsapp'></use>
      </svg>
    </a>
    <a href='#!' class='a-clear aside-socials__item aside-socials__item_type_viber'>
      <svg width="19" height="20">
        <use xlink:href='sprite.svg#viber'></use>
      </svg>
    </a>
</div>
