<div class='availability'>
  {% if params.stock %}
    <div class='availability__stock availability__stock_in'>
      <svg width="18" height="18">
        <use xlink:href='sprite.svg#check'></use>
      </svg>
      <span class='availability__text'>{{ params.stock }}</span>
    </div>
  {% else %}
    <div class='availability__stock availability__stock_out'>
      <svg width="18" height="18">
        <use xlink:href='sprite.svg#check-not'></use>
      </svg>
      <span class='availability__text'>Нет в наличии</span>
    </div>
  {% endif %}
</div>
