<label class='base-checkbox {{ params.class if params.class }}'>
  <input type='checkbox' class='base-input' {{ params.condition }}>
  <span class='base-checkbox__text'>{{ params.text | safe }}</span>
</label>
