<div class='base-tabs js-tabs base-paragraph base-paragraph_type_grey'>
  <nav class='base-tabs__nav'>
    <ul class='ul-clear base-tabs__menu'>
      <li class='base-tabs__menu-item'>
        <button data-tab='about' class='btn base-tabs__menu-btn js-tabs-btn '>О товаре</button>
      </li>
      <li class='base-tabs__menu-item'>
        <button data-tab='specifications' class='btn base-tabs__menu-btn js-tabs-btn '>Характеристики</button>
      </li>
      <li class='base-tabs__menu-item'>
        <button data-tab='how-to-plant' class='btn base-tabs__menu-btn js-tabs-btn '>Как сажать</button>
      </li>
      <li class='base-tabs__menu-item'>
        <button data-tab='reviews' class='btn base-tabs__menu-btn js-tabs-btn active'>Отзывы</button>
      </li>
      <li class='base-tabs__menu-item'>
        <button data-tab='recommendations' class='btn base-tabs__menu-btn js-tabs-btn '>Рекомендации по уходу</button>
      </li>
    </ul>
  </nav>
  <div data-tab='about' class='base-tabs__content base-tabs__content_type_about js-tabs-content '>
    <div class='base-tabs__title'>Описание</div>
    <div class='base-tabs__desc'>
      <div class='base-tabs__desc-text '>
        <p>Не только маленьким, но и взрослым любителям военной техники обязательно придется
          по душе радиоуправляемый танк 1TOY Взвод. Он отличается достаточно простым управлением,
          за которое отвечает пульт ДУ, входящий в комплект поставки. Устройство может спокойно
          двигаться вперед, назад, вправо и влево. Эта игрушка имеет не только очень реалистичный
          и красивый дизайн, но также она оснащена интересными световыми эффектами. В процессе
          работы игрушка издает различные звуки, похожие на звуки движения настоящего танка.
          Данная модель подойдет для использования детьми от 3 лет. Корпус прибора выполнен из
          ударопрочного пластика и металла.</p>
        <p>
          Устройство может хорошо передвигаться практически по любым поверхностям.
          Радиоуправляемый танк 1TOY Взвод представлен в зеленом цвете. Башня этой игрушки
          оснащена поворотным механизмом. Устройство может хорошо передвигаться практически по любым поверхностям.
          Радиоуправляемый танк 1TOY Взвод представлен в зеленом цвете. Башня этой игрушки...</p>
      </div>
      <div class='base-tabs__photo-video'>
        {{ component('product-photo-video', {
          options: [
            { video: {
                src: 'https://www.youtube.com/watch?v=z2X2HaTvkl8',
                width: '172',
                height: '110',
                image: "images/video/2.jpg"
              }
            },
            { image: {
                src: "images/video/2.jpg",
                name: 'about'
              }
            },
            { video: {
                src: 'https://www.youtube.com/watch?v=z2X2HaTvkl8',
                width: '172',
                height: '110',
                image: "images/video/2.jpg"
              }
            },
            { image: {
                src: "images/video/2.jpg",
                name: 'about'
              }
            },
            { image: {
                src: "images/video/2.jpg",
                name: 'about'
              }
            }
          ]
        }) }}
      </div>
    </div>
    <button class='btn base-tabs__btn-show'>Показать полностью</button>
  </div>
  <div data-tab='specifications' class='base-tabs__content base-tabs__content_type_specifications js-tabs-content '>
    <div class='base-tabs__title-wrapper'>
      <div class='base-tabs__title'>Характеристики</div>
      <div class='base-tabs__subtitle'>
        Тимьян лимоннопахнущий Лимон (конт. Р9) купить в нашем интернет магазине очень просто.
        Оформляете заказ на сайте или по телефону, и получаете в удобное вам время.
      </div>
    </div>
    <div class='base-tabs__specification'>
      {{ component('product-specification', {
        options: [
          {title: "Название сорта", name: "Лимон"},
          {title: "Название латинское", name: "Limone"},
          {title: "Высота взрослого растения(в сантиметрах)", name: "15-20"},
          {title: "Время цветения", name: "июнь-июль"},
          {title: "Название сорта", name: "Лимон"},
          {title: "Название латинское", name: "Limone"}
        ]
      }) }}
    </div>
  </div>
  <div data-tab='how-to-plant' class='base-tabs__content base-tabs__content_type_how-to-plant js-tabs-content '>
    <div class='base-tabs__title'>Как сажать</div>
    <div class='base-tabs__desc'>
      <div class='base-tabs__desc-text'>
        <p>Оптимальное время посадки – после отцветания растений. Это период, начиная с
          конца лета и до середины
          осени. В случае приобретения луковиц ранней весной, высадку можно произвести, как только почва оттает и
          подсохнет. Запоздалое весеннее высаживание рискованно тем, что можно повредить молодые побеги.
          Весенняя посадка больше подходит и для поздноцветущих сортов, луковицы которых медленно формируются.
          К их числу относятся ЛО гибриды и сорта восточной группы: Рио Негро, Вайт Хевен, Риалто, Марко Поло.
        </p>
        <p>Исключение составляют лишь Халнцедонская, Белоснежная и Тестацеум. Они формируют надпочвенную
          розетку листьев, а потому слой почвы над ними не должен превышать 2-3 см. Высаживая луковицы в тяжелые
          типы почв, дно посадочных ям устилают 5 см слоем песка. Чтобы защитить их от полевок, по внутренним
          стенкам посадочной ямы выкладывают проволочную сетку. Луковицу выкладывают на дно ямы, устанавливая
          на импровизированную песочную «подушку», и расправляют корни. Их нельзя заламывать и загибать кверху.
          Место посадки помечают колышком и присыпают землей, слегка утрамбовывая.
        </p>
        <p> Лунку обильно поливают отстоявшейся водой и прикрывают мульчей из коры. Лилии очень чувствительны к
          пересыханию корней. Чтобы луковицы не обветрились, пока подготавливается лунка, их лучше обернуть в
          мокрую салфетку или спрятать в ящик с влажным торфом. Нежные молодые ростки боятся перепадов
          температур Чтобы защитить молодые ростки, высаженные луковицы прикрывают пластиковыми бутылками
          с вырезанными донышками.</p>
        <p> Для этой цели лучше использовать бутылки с широкими стенками объемом в 2-3 литра.
        </p></div>
    </div>
    <div class='base-tabs__photo-video'>
      {{ component('product-photo-video', {
        options: [
          { video: {
              src: 'https://www.youtube.com/watch?v=z2X2HaTvkl8',
              width: '172',
              height: '110',
              image: "images/video/2.jpg"
            }
          },
          { image: {
              src: "images/video/2.jpg",
              name: 'how-to-plant'
            }
          },
          { video: {
              src: 'https://www.youtube.com/watch?v=z2X2HaTvkl8',
              width: '172',
              height: '110',
              image: "images/video/2.jpg"
            }
          },
          { image: {
            src: "images/video/2.jpg",
            name: 'how-to-plant'
          }
          },
          { image: {
            src: "images/video/2.jpg",
            name: 'how-to-plant'
          }
          },
          { image: {
            src: "images/video/2.jpg",
            name: 'how-to-plant'
          }
          }
        ]
      }) }}
    </div>
  </div>
  <div data-tab='reviews' class='base-tabs__reviews js-tabs-content active'>
    <div class='base-tabs__reviews-inner'>
      {% for item in params.reviews %}
        <div class='base-tabs__review'>
          {{ component('review', {
            options: item
          }) }}
        </div>
      {% endfor %}
    </div>
    <div class='base-tabs__reviews-btn-wrapper'>
      <button class='btn btn_type_primary'>Показать еще (20)</button>
    </div>
    <div class='base-tabs__feedback'>
      {{ component('feedback') }}
    </div>
  </div>
  <div data-tab='recommendations' class='base-tabs__content base-tabs__content_type_recommendations js-tabs-content '>
    <div class='base-tabs__title'>Рекомендации</div>
    <div class='base-tabs__desc-text'>
      <p>Как ухаживать за лилиями? Чтобы свести к минимуму уход за этими красивоцветущими растениями,
        необходимо соблюдать ряд рекомендаций: В течение сезона подкармливать растения комплексными
        удобрениями и золой из расчета 50 гр на метр площади. Подкормку проводят в три этапа: ранней весной,
        на стадии формирования бутонов и после отцветания. Для весенней корневой подкормки подходят:
        аммиачная селитра (40 гр на 10 л), нитроаммофосфат (50 гр на 10 л), раствор сброженного коровяка в
        пропорции 1:10.</p>

      <p>Обеспечивать своевременный полив. Хоть лилия и не любит излишнюю влагу, но особо засушливые дни
        нуждается в частом поливе. Поливать нужно под корень, стараясь не увлажнять листья. Случайно попавшие
        капли воды могут служить своеобразными линзами, вызывая солнечный ожог.</p>

      <p>Борьба с вредителями. Опасны для надземной части растений лилейный жук и лилейная муха. Избавиться от
        вредителей можно, собирая личинки вручную и опрыскивая стебли препаратами типа «Гром», «Гризли»,
        «Мухоед».</p>

      <p>Обеспечивать своевременный полив. Хоть лилия и не любит излишнюю влагу, но особо засушливые дни
        нуждается в частом поливе. Поливать нужно под корень, стараясь не увлажнять листья. Случайно попавшие
        капли воды могут служить своеобразными линзами, вызывая солнечный ожог.</p>

      <p>Борьба с вредителями. Опасны для надземной части растений лилейный жук и лилейная муха. Избавиться
        от вредителей можно, собирая личинки вручную и опрыскивая стебли препаратами типа «Гром», «Гризли»,
        «Мухоед».</p>
    </div>
    <div class='base-tabs__photo-video'>
      {{ component('product-photo-video', {
        options: [
          { video: {
              src: 'https://www.youtube.com/watch?v=z2X2HaTvkl8',
              width: '172',
              height: '110',
              image: "images/video/2.jpg"
            }
          },
          { image: {
              src: "images/video/2.jpg",
              name: 'recommendations'
            }
          },
          { video: {
              src: 'https://www.youtube.com/watch?v=z2X2HaTvkl8',
              width: '172',
              height: '110',
              image: "images/video/2.jpg"
            }
          },
          { image: {
              src: "images/video/2.jpg",
              name: 'recommendations'
            }
          },
          { image: {
              src: "images/video/2.jpg",
              name: 'recommendations'
            }
          },
          { image: {
              src: "images/video/2.jpg",
              name: 'recommendations'
            }
          }
        ]
      }) }}
    </div>
  </div>
</div>
