<div class='btn-arrows'>
  <button class='btn btn-arrows__item btn-arrows__item_prev'>
    <svg width="10" height="16">
      <use xlink:href='sprite.svg#arrow'></use>
    </svg>
  </button>
  <button class='btn btn-arrows__item btn-arrows__item_next'>
    <svg width="10" height="16">
      <use xlink:href='sprite.svg#arrow'></use>
    </svg>
  </button>
</div>
