<div class='calculate js-calculate'>
  <button class='btn calculate__btn calculate__btn_minus' data-calculate='decrease'>
    <svg width="12" height="12">
      <use xlink:href='sprite.svg#minus'></use>
    </svg>
  </button>
  <input class='calculate__input' data-input step='10' min='10' type='number' value='100' />
  <button class='btn calculate__btn' data-calculate='increment'>
    <svg width="12" height="12">
      <use xlink:href='sprite.svg#plus'></use>
    </svg>
  </button>
</div>
