<div class='card-order'>
  <div class='card-order__address-wrapper'>
    <div>{{ params.options.city }}</div>
    <div>{{ params.options.street }}</div>
    <div>
      <a href='#!' class='a-clear card-order__link'>
        <span>Подробнее</span>
        <svg width="43" height="8">
          <use xlink:href='sprite.svg#arrow-long'></use>
        </svg>
      </a>
    </div>
  </div>
  <div class='card-order__count'>{{ params.options.count }} шт.</div>
  <div class='card-order__price'>{{ params.options.price }} ₽</div>
  {% if params.options.paid %}
    <div class='card-order__status card-order__status_paid'>
      <svg width="16" height="16">
        <use xlink:href='sprite.svg#check-mark-done'></use>
      </svg>
      <span>{{ params.options.paid }}</span>
    </div>
    {% elif params.options.delivery %}
    <div class='card-order__status card-order__status_delivery'>
      <svg width="16" height="16">
        <use xlink:href='sprite.svg#check-mark-unknown'></use>
      </svg>
      <span>{{ params.options.delivery }}</span>
    </div>
    {% elif params.options.fail %}
    <div class='card-order__status card-order__status_fail'>
      <svg width="16" height="16">
        <use xlink:href='sprite.svg#check-mark-fail'></use>
      </svg>
      <span>{{ params.options.fail }}</span>
    </div>
  {% endif %}
</div>
