<div class='catalog-block'>
  <div class='catalog-block__title'>{{ params.options.title }}</div>
  <div class='catalog-block__cards'>
    {% for card in params.options.cards %}
      {{ component('catalog-item', {
        options: card
      }) }}
    {% endfor %}
  </div>
</div>
