<div class='catalog-item'>
  <a href='#!' class='a-clear catalog-item__img-wrapper'><img loading="lazy"  width='370' height='275' src='{{ params.options.image }}' alt=''></a>
  <a href='#!' class='a-clear catalog-item__link'>{{ params.options.name }}</a>
</div>
