<div class='details'>
  <details class='details__item'>
    <summary class='details__summary'>
      <span>Как хранить до посадки</span>
      <svg class='details__icon' width="10" height="16">
        <use xlink:href='sprite.svg#arrow'></use>
      </svg>
    </summary>
    <div class='details__content'>Гортензия метельчатая "Лаймлайт" (Limelight) — ЗНАМЕНИТЫЙ на весь мир сорт голландской
      селекции ! Просто
      завораживает своими пышными свечками необыкновенных цветов..
    </div>
  </details>
  <details class='details__item'>
    <summary class='details__summary'>
      <span>Как правильно сажать</span>
      <svg class='details__icon' width="10" height="16">
        <use xlink:href='sprite.svg#arrow'></use>
      </svg>
    </summary>
    <div class='details__content'>Гортензия метельчатая "Лаймлайт" (Limelight) — ЗНАМЕНИТЫЙ на весь мир сорт голландской
      селекции ! Просто
      завораживает своими пышными свечками необыкновенных цветов..
    </div>
  </details>
</div>
