<div class='display-cards'>
  <div class='display-cards__filter'>
    {{ component('filter-bar') }}
  </div>
  {% if params.vertical %}
    <div class='display-cards__items display-cards__items_vertical'>
      {% for card in params.cards %}
        {{ component('product-card-row', {
          type: params.type,
          options: card
        }) }}
      {% endfor %}
    </div>
  {% else %}
    <div class='display-cards__items'>
      {% for card in params.cards %}
        <div class='display-cards__item'>
          {{ component('product-card', {
            options: card
          }) }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <div class='display-cards__more'>
    <button class='btn btn_type_primary display-cards__more-btn'>Показать еще (20)</button>
  </div>
  {% if params.pagination %}
    <div class='display-cards__pagination'>
      {{ component('pagination') }}
    </div>
  {% endif %}
</div>

