<div class='feedback'>
  <div class='feedback__title'>Оставить свой отзыв</div>
  <div class='feedback__inner'>
    {{ component('base-field-input', {
      items: [
        { placeholder: 'Имя' },
        { placeholder: 'Почта' }
      ]
    }) }}
    <div class='feedback__textarea'>
      {{ component('base-textarea', {
        placeholder: 'Оставить отзыв'
      }) }}
    </div>
  </div>
  <div class='feedback__grade'>
    <span class='feedback__grade-text'>Оценка:</span>
    {{ component('rating') }}
  </div>
  <div class='feedback__btn'>
    <button class='btn btn_type_secondary'>Отправить</button>
  </div>
</div>
