<div class='filter-bar {{ 'filter-bar_show_filter' if params.show }}'>
  <div class='filter-bar__btn-group filter-bar__btn-group_first'>
    <button class='btn filter-bar__order-btn mobile-hide'>
      <svg width="18" height="18">
        <use xlink:href='sprite.svg#graph'></use>
      </svg>
      <span>От дешевых к дорогим</span>
    </button>
    <button class='btn filter-bar__order-btn mobile-hide filter-bar__order-btn_rotate active'>
      <svg width="18" height="18">
        <use xlink:href='sprite.svg#graph'></use>
      </svg>
      <span>От дешевых к дорогим</span>
    </button>
    <button class='btn filter-bar__order-btn filter-bar__order-btn_rotate  mobile-show'>
      <svg width="18" height="18">
        <use xlink:href='sprite.svg#graph'></use>
      </svg>
      <span>Цена</span>
    </button>
  </div>
  <button data-fancybox data-src='#filter-card' class='btn btn_type_primary filter-bar__filter-btn'>Фильтр</button>
  <div class='filter-bar__btn-group filter-bar__btn-group_second'>
    <button class='btn filter-bar__btn '>
      <svg width="24" height="24">
        <use xlink:href='sprite.svg#btn-two'></use>
      </svg>
    </button>
    <button class='btn filter-bar__btn active'>
      <svg width="24" height="24">
        <use xlink:href='sprite.svg#btn-four '></use>
      </svg>
    </button>
  </div>
</div>

{{ component('filter-card') }}
