<div id='filter-card' class='filter-card' hidden>
  <div class='filter-card__inner'>
    <div class='filter-card__title'>Фильтр</div>
    <button class='btn filter-card__reset'>Сбросить всё</button>
    <div class='filter-card__content'>
      {{ component('filters', {
        mobile: true
      }) }}
    </div>
  </div>
  <div class='filter-card__footer'>
    <button class='btn btn_type_primary filter-card__btn'>Применить</button>
    <button class='btn btn_type_cancel filter-card__btn'>Отмена</button>
  </div>
</div>
