<div id='my-mmenu-catalog' data-mmenu='catalog' data-mmenu-title="Популярные разделы" class='my-mmenu'>
  <ul class='ul-clear'>
    <li>
      <span>Плодовые растения</span>
      <ul>
        <li><a href='/' class='a-clear'>1</a></li>
        <li><a href='/' class='a-clear'>2</a></li>
        <li><a href='/' class='a-clear'>3</a></li>
      </ul>
    </li>
    <li>
      <span>Однолетники</span>
      <ul>
        <li><a href='/' class='a-clear'>2</a></li>
        <li><a href='/' class='a-clear'>2</a></li>
      </ul>
    </li>
    <li>
      <a href='#!' class='a-clear'>Лекарственные и пряные</a>
    </li>
  </ul>
</div>

<div id='my-mmenu-search' data-mmenu='search' data-mmenu-title="Поиск товаров" class='my-mmenu'>
  <div class="my-mmenu__search">
    <div class="my-mmenu__search-wrapper">
      <label class="my-mmenu__search-label">
        <input type='text' placeholder='Поиск' class='my-mmenu__search-input'>
        <button class='btn my-mmenu__search-btn'>
          <svg width="18" height="18">
            <use xlink:href='sprite.svg#search'></use>
          </svg>
        </button>
      </label>
    </div>
    <ul class="my-mmenu__results ul-clear">
      <li><a href="/" class="a-clear my-mmenu__result-item">
          <img loading="lazy"  width='32' height='32' src="images/result.jpg" alt="">
          <span>Мускари <b>Блю Спай</b>к</span>
        </a></li>
      <li><a href="/" class="a-clear my-mmenu__result-item">
          <img loading="lazy"  width='32' height='32' src="images/result.jpg" alt="">
          <span>Мускари <b>Блю Спай</b>к</span>
        </a></li>
    </ul>
    <div class="my-mmenu__results my-mmenu__results_additional">
      <div class="my-mmenu__results-title">Недавно искали</div>
      <ul class="my-mmenu__results-items ul-clear">
        <li><a href="/" class="a-clear my-mmenu__result-item">
            <img loading="lazy"  width='32' height='32' src="images/result.jpg" alt="">
            <span>Мускари Блю Спайк</span>
          </a></li>
        <li><a href="/" class="a-clear my-mmenu__result-item">
            <img loading="lazy"  width='32' height='32' src="images/result.jpg" alt="">
            <span>Мускари Блю Спайк</span>
          </a></li>
      </ul>
    </div>
    <div class="my-mmenu__results my-mmenu__results_additional">
      <div class="my-mmenu__results-title">Популярные поисковые запросы</div>
      <ul class="my-mmenu__results-items ul-clear">
        <li><a href="/" class="a-clear my-mmenu__result-item">
            <img loading="lazy"  width='32' height='32' src="images/result.jpg" alt="">
            <span>Мускари Блю Спайк</span>
          </a></li>
        <li><a href="/" class="a-clear my-mmenu__result-item">
            <img loading="lazy"  width='32' height='32' src="images/result.jpg" alt="">
            <span>Мускари Блю Спайк</span>
          </a></li>
      </ul>
    </div>


  </div>
</div>

<div id='my-mmenu-towns' data-mmenu='towns' data-mmenu-title="Выберите город" class='my-mmenu'>
  <div class="my-mmenu__search">
    <div class="my-mmenu__search-wrapper">
      <label class="my-mmenu__search-label">
        <input type='text' placeholder='Поиск' class='my-mmenu__search-input'>
        <button class='btn my-mmenu__search-btn'>
          <svg width="18" height="18">
            <use xlink:href='sprite.svg#search'></use>
          </svg>
        </button>
      </label>
    </div>
    <ul class="my-mmenu__towns ul-clear">
      <li class="my-mmenu__town"><a href="/" class="a-clear">Москва</a></li>
      <li class="my-mmenu__town"><a href="/" class="a-clear">Санкт-Петербург</a></li>
      <li class="my-mmenu__town active"><a href="/" class="a-clear">Нижний новород</a></li>
      <li class="my-mmenu__town"><a href="/" class="a-clear">Сочи</a></li>
      <li class="my-mmenu__town"><a href="/" class="a-clear">Новосибирск</a></li>
      <li class="my-mmenu__town"><a href="/" class="a-clear">Екатеринбург	</a></li>
      <li class="my-mmenu__town"><a href="/" class="a-clear">Казань		</a></li>
      <li class="my-mmenu__town"><a href="/" class="a-clear">Челябинск		</a></li>
      <li class="my-mmenu__town"><a href="/" class="a-clear">Самара		</a></li>
      <li class="my-mmenu__town"><a href="/" class="a-clear">Омск		</a></li>
      <li class="my-mmenu__town"><a href="/" class="a-clear">Ростов-на-Дону			</a></li>
      <li class="my-mmenu__town"><a href="/" class="a-clear">Новосибирск		</a></li>
    </ul>
  </div>
</div>

<div id='my-mmenu-menu' data-mmenu='menu' class='my-mmenu'>
  <div>
    <ul class='ul-clear'>
      <li>
        <span>Каталог растений</span>
        <ul>
          <li><a href='#!' class='a-clear'>Садовые растения</a></li>
          <li><a href='#!' class='a-clear'>Уход за растениями</a></li>
          <li><a href='#!' class='a-clear'>Садовый инструмент</a></li>
          <li><a href='#!' class='a-clear'>Инвентарь</a></li>
          <li><a href='#!' class='a-clear'>Садовая техника</a></li>
        </ul>
      </li>
      <li><a href='#!' class='a-clear'>Услуги и сервис</a></li>
      <li>
        <a href='#!' class='a-clear'>Вопрос и ответ</a>
      </li>
      <li>
        <a href='#!' class='a-clear'>Блог</a>
      </li>
      <li><a href='#!' class='a-clear'>О нас</a></li>
    </ul>
    <div class='my-mmenu__socials my-mmenu__socials_bottom'>{{ component('our-socials', {
      }) }}</div>
  </div>
</div>

<template data-mmenu-template='logo'>
  <div class='my-mmenu__logo-wrapper'>
    <a href='/' class='a-clear my-mmenu__logo'><img loading="lazy"  loading="lazy" width='123' height='31' src='images/logo.svg'
                                                    alt=''></a>
    <div class='my-mmenu__title'>саженцы</div>
  </div>
</template>

<template data-mmenu-template='menu'>
  <div class='my-mmenu__menu'>
    <div class='my-mmenu__logo-wrapper'>
      <a href='/' class='a-clear my-mmenu__logo'><img loading="lazy"  loading="lazy" width='123' height='31' src='images/logo.svg'
                                                      alt=''></a>
      <div class='my-mmenu__title'>саженцы</div>
    </div>
    <div class='my-mmenu__socials my-mmenu__socials_top'>
      <a href='#!' class='a-clear my-mmenu__socials-item my-mmenu__socials-item_telegram'>
        <svg width="19" height="17">
          <use xlink:href='sprite.svg#telegram'></use>
        </svg>
      </a>
      <a href='#!' class='a-clear my-mmenu__socials-item my-mmenu__socials-item_whatsapp'>
        <svg width="22" height="22">
          <use xlink:href='sprite.svg#whatsapp'></use>
        </svg>
      </a>
      <a href='#!' class='a-clear my-mmenu__socials-item my-mmenu__socials-item_viber'>
        <svg width="20" height="22">
          <use xlink:href='sprite.svg#viber'></use>
        </svg>
      </a>
      <a href='#!' class='a-clear my-mmenu__socials-item my-mmenu__socials-item_telephone'>
        <svg width="16" height="16">
          <use xlink:href='sprite.svg#telephone'></use>
        </svg>
      </a>
      <a href='#!' class='a-clear my-mmenu__socials-item my-mmenu__socials-item_mail'>
        <svg width="19" height="17">
          <use xlink:href='sprite.svg#mail'></use>
        </svg>
      </a>
    </div>
  </div>
</template>
