{%- from "system/component.njk" import component %}

<div class="mobile-hide-content {{ 'mobile-hide-content_type_' + params.options.type if params.options.type }} "
     data-mobile-hide-type="{{ params.options.type }}">
  <div class="mobile-hide-content__wrapper js-mobile-hide-content__wrapper">
    <div class="mobile-hide-content__inner">
      <div class="mobile-hide-content__header">
        {{ params.options.header | safe }}
        <button class="btn mobile-hide-content__close js-mobile-hide-content__close">
          <svg width="24" height="24">
            <use xlink:href="sprite.svg#close"></use>
          </svg>
        </button>
      </div>
      {% for item in params.options.items %}
        <div class="mobile-hide-content__item">{{ item | safe  }}</div>
      {% endfor %}
    </div>
    <div class="mobile-hide-content__buttons">
        <button class="btn btn_type_primary mobile-hide-content__button">{{ params.options.buttonPrimary }}</button>
      {% if params.options.buttonSecondary %}
        <button class="btn btn_type_secondary mobile-hide-content__button">{{ params.options.buttonSecondary }}</button>
      {% endif %}
    </div>
  </div>
</div>
