<div class='more-menu js-additional-content'>
  <button class='btn more-menu__btn' data-additional="btn">
    <span>Еще</span>
    <svg width="8" height="3">
      <use xlink:href='sprite.svg#triangle'></use>
    </svg>
  </button>
  <ul class='more-menu__inner ul-clear' data-additional="content">
    <li><a href='#!' class='a-clear more-menu__item active'>Получение и возврат</a></li>
    <li><a href='#!' class='a-clear more-menu__item'>Отзывы</a></li>
    <li><a href='#!' class='a-clear more-menu__item'>Блог</a></li>
  </ul>
</div>
