<div class='our-socials {{ 'our-socials_white' if params.white }}'>
  <a href='#!' class='our-socials__item a-clear'>
    <svg width="20" height="21">
      <use xlink:href='sprite.svg#youtube'></use>
    </svg>
  </a>
  <a href='#!' class='our-socials__item a-clear'>
    <img loading="lazy"  width='16' height='16' src='images/instagram.png' alt=''>
  </a>
  <a href='#!' class='our-socials__item a-clear'>
    <svg width="20" height="21">
      <use xlink:href='sprite.svg#facebook'></use>
    </svg>
  </a>
  <a href='#!' class='our-socials__item a-clear'>
    <svg width="20" height="21">
      <use xlink:href='sprite.svg#vk'></use>
    </svg>
  </a>
  <a href='#!' class='our-socials__item a-clear'>
    <svg width="20" height="21">
      <use xlink:href='sprite.svg#tik-tok'></use>
    </svg>
  </a>
</div>
