<nav>
  <ul class='ul-clear pagination'>
    <li class='pagination__item pagination__item_start'>
      <a href='#!' class='a-clear pagination__btn'>
        <svg width="8" height="12">
          <use xlink:href='sprite.svg#arrow'></use>
        </svg>
        <svg width="8" height="12">
          <use xlink:href='sprite.svg#arrow'></use>
        </svg>
        <svg width="8" height="12">
          <use xlink:href='sprite.svg#arrow'></use>
        </svg>
      </a>
    </li>
    <li class='pagination__item pagination__item_prev'>
      <a href='#!' class='a-clear pagination__btn'>
        <svg width="8" height="12">
          <use xlink:href='sprite.svg#arrow'></use>
        </svg>
      </a>
    </li>
    <li class='pagination__item'>
      <a href='#!' class='a-clear pagination__btn pagination__page'>01</a>
    </li>
    <li class='pagination__item'>
      <a href='#!' class='a-clear pagination__btn pagination__page pagination__page_current'>02</a>
    </li>
    <li class='pagination__item'>
      <a href='#!' class='a-clear pagination__btn pagination__page'>03</a>
    </li>
    <li class='pagination__item pagination__item_next'>
      <a href='#!' class='a-clear pagination__btn pagination__btn_next'>
        <svg width="8" height="12">
          <use xlink:href='sprite.svg#arrow'></use>
        </svg>
      </a>
    </li>
    <li class='pagination__item pagination__item_end'>
      <a href='#!' class='a-clear pagination__btn pagination__btn_next'>
        <svg width="8" height="12">
          <use xlink:href='sprite.svg#arrow'></use>
        </svg>
        <svg width="8" height="12">
          <use xlink:href='sprite.svg#arrow'></use>
        </svg>
        <svg width="8" height="12">
          <use xlink:href='sprite.svg#arrow'></use>
        </svg>
      </a>
    </li>
  </ul>
</nav>
