<div class='product-photo-video'>
  <div class='product-photo-video__title'>Фото и видео</div>
  <div class='product-photo-video__inner'>
    {% for item in params.options %}
      <div class='product-photo-video__item'>
        {% if item.video %}
          {{ component('video', {
            options: item.video
          }) }}
        {% else %}
          <a href='{{ item.image.src }}' data-fancybox='{{ item.image.name }}' class='product-photo-video__img'>
            <img loading="lazy"  width='172' height='110' src='{{ item.image.src}}' alt=''>
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
