<div class='product-card'>
  <a href='#!' class='product-card__img-wrapper a-clear'>
    <img loading="lazy"  width='191' height='191' src={{ params.options.image }} alt=''>
    <span class='product-card__labels'>
      <span class='labels'>
        {% if params.options.label %}
          <span
            class='labels__item {{ 'labels__item_' + params.options.label.name if params.options.label.name }}'>
            {{ params.options.label.value }}</span>
        {% endif %}
        {% if params.options.favorite %}
          <button class='btn labels__favorite'><svg width="14" height="14"><use
                xlink:href='sprite.svg#heart-filled'></use></svg></button>
        {% endif %}
      </span>
    </span>
  </a>
  <a href='#!' class='product-card__name a-clear'>{{ params.options.name }}</a>
  {% if params.options.count %}
    <div class='product-card__count'><span>Остаток:</span> {{ params.options.count }} шт.</div>
  {% else %}
    <div class='product-card__availability'>
      {{ component('availability', {
        stock: params.options.stock
      }) }}
    </div>
  {% endif %}
  <div class='product-card__bottom'>
    <div class='product-card__prices'>
      {% if params.options.priceOld %}
        <div class='product-card__price product-card__price_old'>{{ params.options.priceOld }}</div>
      {% endif %}
      <div class='product-card__price product-card__price_new'>{{ params.options.priceNew }}</div>
    </div>
    <div class='product-card__cart'>
      {{ component('cart-btn') }}
    </div>
  </div>
</div>
