{%- from "system/component.njk" import component -%}

<div class='product-card-row {{ 'product-card-row_type_' + params.type if params.type }}'>
  <div class='product-card-row__container'>
    <a href='#!' class='a-clear product-card-row__img-wrapper'>
      <img loading="lazy"  width='120' height='120' src={{ params.options.image }} alt=''>
      {% if params.options.sale %}
        {{ component('label', { label: params.options.sale }) }}
      {% endif %}
    </a>
    <div class='product-card-row__inner'>
      <div class='product-card-row__name-wrapper'>
        <a href='#!' class='a-clear product-card-row__name'>{{ params.options.name }}</a>
        {% if params.options.count %}
          <div class='product-card-row__count'><span>Остаток:</span>{{ params.options.count }} шт.</div>
        {% else %}
          <div class='product-card-row__availability'>
            {{ component('availability', {
              stock: params.options.stock
            }) }}
          </div>
        {% endif %}
        {% if params.options.rating %}
          <div class='product-card-row__rating'>
            {{ component('rating') }}
            <span class='product-card-row__rating-count'>(5)</span>
          </div>
        {% endif %}
        <div class='product-card-row__options'>
          {% for item in params.options.options %}
            <div class='product-card-row__options-item'>{{ item }}</div>
          {% endfor %}
        </div>
      </div>
      {% if params.options.quantity %}
        <div class='product-card-row__quantity'>{{ params.options.quantity }} шт.</div>
      {% endif %}
      <div class='product-card-row__price-wrapper'>
        {% if params.options.priceOld %}
          <div class='product-card-row__price product-card-row__price_old'>2 111 105 ₽</div>
        {% endif %}
        <div class='product-card-row__price'>1 111 105 ₽</div>
      </div>
      {% if params.options.cart %}
        <div class='product-card-row__cart-wrapper'>
          <div class='product-card-row__cart-btn'>
            {{ component('cart-btn') }}
          </div>
          {% if params.options.remove %}
            <button class='btn product-card-row__cart-remove'>
              <svg width="16" height="16">
                <use xlink:href='sprite.svg#delete'></use>
              </svg>
              <span>Удалить</span>
            </button>
          {% endif %}
        </div>
      {% endif %}
      {% if params.options.calculate %}
        <div class='product-card-row__calculate'>
          {{ component('calculate') }}
        </div>
      {% endif %}
      {% if params.options.total %}
        <div class='product-card-row__total'>
          <div class='product-card-row__total-title'>Общая цена:</div>
          <div class='product-card-row__total-price'>1 111 105 &#8381;</div>
        </div>
      {% endif %}

    </div>
  </div>
  <div class='product-card-row__bottom'>
    <div class='product-card-row__total-title'>Общая цена:</div>
    <div class='product-card-row__total-price'>1 111 105 ₽</div>
  </div>
</div>
