<div class='product-catalog-list js-catalog-list'>
  <button class='btn product-catalog-list__btn js-catalog-btn'>
    <span>Каталог</span>
    <svg width="20" height="14">
      <use xlink:href='sprite.svg#btn-menu'></use>
    </svg>
  </button>
  <ul class='product-catalog-list__catalog ul-clear'>
    <li class='product-catalog-list__catalog-item'>
      <a href='{{ 'index.html' | url }}' class='a-clear product-catalog-list__catalog-link'>index.html</a>
    </li>
    <li class='product-catalog-list__catalog-item'>
      <a href='{{ 'catalog.html' | url }}' class='a-clear product-catalog-list__catalog-link'>catalog.html</a>
    </li>
    <li class='product-catalog-list__catalog-item'>
      <a href='{{ 'category.html' | url }}' class='a-clear product-catalog-list__catalog-link'>category.html</a>
    </li>
    <li class='product-catalog-list__catalog-item js-sub-catalog'>
      <a href='#!' class='a-clear product-catalog-list__catalog-link js-catalog-link'>
        Лекарственные и пряные
        <ul class='product-catalog-list__sub-catalog ul-clear'>
          <li class='product-catalog-list__catalog-item'><a href='#!'
                                                            class='a-clear product-catalog-list__catalog-link'>Садовые
              растения</a></li>
          <li class='product-catalog-list__catalog-item'><a href='#!'
                                                            class='a-clear product-catalog-list__catalog-link'>Садовые
              растения</a></li>
          <li class='product-catalog-list__catalog-item'><a href='#!'
                                                            class='a-clear product-catalog-list__catalog-link'>Садовые
              растения</a></li>
        </ul>
      </a>
    </li>
    <li class='product-catalog-list__catalog-item'>
      <a href='{{ 'product.html' | url }}' class='a-clear product-catalog-list__catalog-link'>product.html</a>
    </li>
    <li class='product-catalog-list__catalog-item'>
      <a href='{{ 'cart.html' | url }}' class='a-clear product-catalog-list__catalog-link'>cart.html</a>
    </li>
    <li class='product-catalog-list__catalog-item'>
      <a href='{{ 'article.html' | url }}' class='a-clear product-catalog-list__catalog-link'>article.html</a>
    </li>
    <li class='product-catalog-list__catalog-item'>
      <a href='{{ 'category-sale.html' | url }}' class='a-clear product-catalog-list__catalog-link'>category-sale.html</a>
    </li>
    <li class='product-catalog-list__catalog-item'>
      <a href='{{ 'contacts.html' | url }}' class='a-clear product-catalog-list__catalog-link'>contact.html</a>
    </li>
    <li class='product-catalog-list__catalog-item'>
      <a href='{{ 'favorite.html' | url }}' class='a-clear product-catalog-list__catalog-link'>favorite.html</a>
    </li>
    <li class='product-catalog-list__catalog-item'>
      <a href='{{ 'order.html' | url }}' class='a-clear product-catalog-list__catalog-link'>order.html</a>
    </li>
    <li class='product-catalog-list__catalog-item'>
      <a href='{{ 'sale.html' | url }}' class='a-clear product-catalog-list__catalog-link'>sale.html</a>
    </li>
    <li class='product-catalog-list__catalog-item'>
      <a href='{{ 'user.html' | url }}' class='a-clear product-catalog-list__catalog-link'>user.html</a>
    </li>
    <li class='product-catalog-list__catalog-item'>
      <a href='{{ 'user-data.html' | url }}' class='a-clear product-catalog-list__catalog-link'>user-data.html</a>
    </li>
    <li class='product-catalog-list__catalog-item'>
      <a href='{{ 'user-address.html' | url }}' class='a-clear product-catalog-list__catalog-link'>user-address.html</a>
    </li>
    <li class='product-catalog-list__catalog-item'>
      <a href='{{ 'user-new-address.html' | url }}' class='a-clear product-catalog-list__catalog-link'>user-new-address.html</a>
    </li>
    <li class='product-catalog-list__catalog-item'>
      <a href='{{ 'user-my-address.html' | url }}' class='a-clear product-catalog-list__catalog-link'>user-my-address.html</a>
    </li>
    <li class='product-catalog-list__catalog-item'>
      <a href='{{ 'user-password.html' | url }}' class='a-clear product-catalog-list__catalog-link'>user-password.html</a>
    </li>
    <li class='product-catalog-list__catalog-item'>
      <a href='{{ 'user-favorite.html' | url }}' class='a-clear product-catalog-list__catalog-link'>user-favorite.html</a>
    </li>
    <li class='product-catalog-list__catalog-item'>
      <a href='{{ 'user-history.html' | url }}' class='a-clear product-catalog-list__catalog-link'>user-history.html</a>
    </li>
    <li class='product-catalog-list__catalog-item'>
      <a href='{{ 'user-sale.html' | url }}' class='a-clear product-catalog-list__catalog-link'>user-sale.html</a>
    </li>
    <li class='product-catalog-list__catalog-item'>
      <a href='{{ 'user-subscribe.html' | url }}' class='a-clear product-catalog-list__catalog-link'>user-subscribe.html</a>
    </li>
    <li class='product-catalog-list__catalog-item'>
      <a href='{{ 'user-order.html' | url }}' class='a-clear product-catalog-list__catalog-link'>user-order.html</a>
    </li>
  </ul>
</div>
