<div class='product-specification'>
  {% for item in params.options %}
    <div class='product-specification__item'>
      <div class='product-specification__title'>{{ item.title }}</div>
      <div class='product-specification__divider'></div>
      <div class='product-specification__name'>{{ item.name }}</div>
    </div>
  {% endfor %}
</div>
