<a href='#!' class='rating a-clear'>
  <svg class='rating__item active' width="14" height="14" ><use xlink:href='sprite.svg#star'></use></svg>
  <svg class='rating__item' width="14" height="14" ><use xlink:href='sprite.svg#star'></use></svg>
  <svg class='rating__item' width="14" height="14" ><use xlink:href='sprite.svg#star'></use></svg>
  <svg class='rating__item' width="14" height="14" ><use xlink:href='sprite.svg#star'></use></svg>
  <svg class='rating__item' width="14" height="14" ><use xlink:href='sprite.svg#star'></use></svg>
</a>
