<div class='review {{ 'review_small' if params.options.small }}'>
  <div class='review__top'>
    <div class='review__user'>
      <a href='#!' class='review__ava a-clear'>
        <img loading="lazy"  width='65' height='65' src='{{ params.options.ava }}' alt='Аватар'>
      </a>
      <div class='review__name-wrapper'>
        <div class='review__name'>{{ params.options.name }}</div>
        <div class='review__level'>{{ params.options.level }}</div>
        {% if params.options.small %}
          {{ component('rating') }}
        {% endif %}
      </div>
    </div>
    {% if params.options.date %}
      <div class='review__date-wrapper'>
        <div class='review__date'>{{ params.options.date }}</div>
        {{ component('rating') }}
      </div>
    {% endif %}
  </div>
  <div class='review__content'>
    {% if params.options.text %}
      <div class='review__text'>{{ params.options.text }}</div>
    {% endif %}
    {% if params.options.video %}
      <div class='review__video'>
        {{ component('video', {
          options: params.options.video
        }) }}
      </div>
    {% endif %}
    {% if params.options.photo %}
      <div class='review__photo-wrapper'>
        <div class='review__photo-title'>Фото</div>
        <div class='review__photo-inner'>
          {% for item in params.options.photo %}
            <a href='{{ item }}' data-fancybox='review-image' class='a-clear review__photo-item'>
              <img loading="lazy"  width='160' height='100' src="{{ item }}" alt=''>
            </a>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
  {% if params.options.answer %}
    <div class='review__answer'>
      <div class='review__answer-header'>
        <img loading="lazy"  width='112' height='28' src='images/logo.svg' alt='Логотип Экоплант'>
        <div class='review__date'>{{ params.options.answer.date }}</div>
      </div>
      <div class='review__answer-text'>
        {{ params.options.answer.text }}
      </div>
    </div>
  {% endif %}
</div>
