<div class='sale-item'>
  <a href='#!' class='a-clear sale-item__img-wrapper'>
    <img loading="lazy"  width={{ params.options.width }}  height={{ params.options.height }} src={{ params.options.image }} alt=''>
  </a>
  <a href='#!' class='a-clear sale-item__title'>{{ params.options.title }}</a>
  <div class='sale-item__text'>{{ params.options.text }}</div>
</div>
