<div class='search-block {{ 'search-block_is-search' if params.isSearch }}'>
  <div class='search-block__inner'>
    <input type='text' placeholder='Поиск' class='search-block__input'>
    <button class='btn search-block__btn'>
      <svg width="18" height="18">
        <use xlink:href='sprite.svg#search'></use>
      </svg>
    </button>
  </div>
  <div class='search-block__results'>
    <div class='search-block__item'>
      <a class='search-block__img-wrapper a-clear'><img loading="lazy"  width='32' height='32' src='images/result.jpg' alt=''></a>
      <a href='#!' class='search-block__name a-clear'>Мускари Блю Спайк</a>
    </div>
    <div class='search-block__item'>
      <a class='search-block__img-wrapper a-clear'><img loading="lazy"  width='32' height='32' src='images/result.jpg' alt=''></a>
      <a href='#!' class='search-block__name a-clear'>Мускари Блю Спайк</a>
    </div>
  </div>
</div>
