<div class='side-menu js-side-menu'>
  {% if params.title %}
    <div class='side-menu__title'>{{ params.title }}</div>
  {% endif %}
  <ul class='side-menu__list ul-clear'>
    {% for item in params.list %}
      <li class='side-menu__item {{ 'active' if item.active }}'>
        <a href='{{ item.link }}'
           class='a-clear side-menu__link '>{{ item.text }}</a>
      </li>
    {% endfor %}
    {% if params.exit %}
      <li class='side-menu__item side-menu__item_exit'>
        <a href='#!'
           class='a-clear side-menu__link'>{{ params.exit }}</a>
      </li>
    {% endif %}
  </ul>
</div>
