  <ul class='ul-clear type-plants'>
    {% for item in params.types %}
      <li class='type-plants__item js-type-plants {{ "active" if item.active }}'><a href="#!" class='a-clear'>{{ item.name }}</a></li>
    {% endfor %}
  </ul>
