<div class='video'>
  <div data-fancybox data-src='{{ params.options.src }}' class='video__img-wrapper'>
    <img loading="lazy"  width='{{ params.options.width}}' height='{{ params.options.height}}' src='{{ params.options.image}}' alt=''>
    <div  class='video__btn-wrapper'>
      {{ component('video-btn') }}
    </div>
  </div>
</div>
