<div class='your-town'>
  <div class='your-town__title'>Ваш город:</div>
  <button data-fancybox data-src='#fancy-towns' class='your-town__name btn'>Москва
    <svg width="8" height="3">
      <use xlink:href='sprite.svg#triangle'></use>
    </svg>
  </button>
</div>
