.header-mobile {
  display: none;
  box-sizing: border-box;
  background-color: #fdfdfd;
  border: 0.5px solid #e9e9e9;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.05);

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 38px;
    padding: 10px 0;
  }

  &__menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 38px;
    height: 100%;
    padding: 0;
    color: var(--color-green);
    border: 1px solid var(--color-green);
    border-radius: 4px;
  }

  &__logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    img {
      max-width: 100px;
      height: auto;
    }
  }

  &__tel {
    font-weight: 700;
    font-size: 10px;
    line-height: 1.4;
  }

  &__catalog-btn {
    padding: 10px 8px;
    color: #fdfdfd;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    background-color: var(--color-green);
    border-radius: 4px;
  }

  .header-bottom__basket-count {
    position: absolute;
    top: -8px;
    right: -10px;
    height: auto;
    margin: 0;
    padding: 2px 2px 3px;
    font-size: 8px;
  }

  &__btn-icon {
    padding: 0;
    color: var(--color-grey);

    &_user {
      &.active {
        color: var(--color-green);
      }
    }

    &_basket {
      position: relative;
      padding: 10px;
      color: var(--color-red);

      &.active {
        color: #fff;
        background-color: var(--color-red);

        .header-bottom__basket-count {
          border: 1px solid #fff;
        }
      }
    }
  }

  @media (max-width: 768px) {
    display: block;
  }

  @media (max-width: 370px) {
    &__catalog-btn {
      display: none;
    }
  }
}
