.header-bottom {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  border: 0.5px solid #e9e9e9;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.05);

  &__container {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 13px 0;
  }

  &__catalog-btn {
    display: flex;
    height: 100%;
  }

  &__logo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0 21px 0 16px;

    img {
      max-width: 156px;
      height: auto;
    }
  }

  &__tel {
    font-weight: 700;
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
  }

  &__favorite {
    margin: 0 15px 0 30px;
  }

  &__basket {
    --font-color: var(--color-red);
    --bg-color: #fff;

    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    padding: 13px 15px;
    color: var(--font-color);
    font-weight: 700;
    font-size: 17px;
    background-color: var(--bg-color);
    border: 1px solid var(--font-color);
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      height: 20px;
      margin-left: 16px;
      padding: 2px 4px;
      color: #fdfdfd;
      font-weight: 700;
      font-size: 12px;
      line-height: 1;
      text-align: center;
      background: var(--color-red);
      border-radius: 4px;
    }

    &:hover {
      color: darken(#e03232, 8%);
      border-color: darken(#e03232, 8%);
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}
