<!DOCTYPE html>
<html class="page" lang="ru">
<head>
  <title>{{ renderData.title or title }}</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ preview or site.description }}" />
  {#
  <meta name="theme-color" content="#81c36d" />
  #} {# {% include 'open-graph.njk' %} #} {# {% include 'icons.njk' %} #} {#
  <link rel="manifest" href="/manifest.json" />
  #}
  <link rel="stylesheet" href="{{ '/css/app.css' | url }}" />
</head>
<body>
<div>
  {% include 'blocks/cart-header.njk' %}
  <main>{{ content | safe }}</main>
  {% include 'layout/footer.njk' %}
</div>
<script type="module" src="{{ '/js/app.js' | url }}"></script>
</body>
</html>
