{%- from "system/component.njk" import component -%}

<div class='product-block'>
  <div class='container'>
    <div class='product-block__back'>
      {{ component('come-back', {
      }) }}
    </div>
    <div class='product-block__top'>
      <div class='product-block__slider-wrapper'>
        <div data-swiper-type='thumbs' class='product-block__slider-thumbs'>
          <div class='swiper'>
            <div class='swiper-wrapper'>
              <div class='swiper-slide'>
                <div class='product-block__thumb-slide'>
                  <img loading="lazy"  width='67' height='72' src='images/product-slider/1-thumb.jpg' alt=''>
                </div>
              </div>
              <div class='swiper-slide'>
                <div class='product-block__thumb-slide'>
                  <img loading="lazy"  width='67' height='72' src='images/product-slider/1-thumb.jpg' alt=''>
                </div>
              </div>
              <div class='swiper-slide'>
                <div class='product-block__thumb-slide'>
                  <img loading="lazy"  width='67' height='72' src='images/product-slider/1-thumb.jpg' alt=''>
                </div>
              </div>
              <div class='swiper-slide'>
                <div class='product-block__thumb-slide'>
                  <img loading="lazy"  width='67' height='72' src='images/product-slider/1-thumb.jpg' alt=''>
                </div>
              </div>
              <div class='swiper-slide'>
                <div class='product-block__thumb-slide'>
                  <img loading="lazy"  width='67' height='72' src='images/product-slider/1-thumb.jpg' alt=''>
                </div>
              </div>
              <div class='swiper-slide'>
                <div class='product-block__thumb-slide'>
                  <img loading="lazy"  width='67' height='72' src='images/product-slider/1-thumb.jpg' alt=''>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-swiper-type='mainThumb' class='product-block__slider-main'>
          <div class='swiper'>
            <div class='swiper-wrapper'>
              <div class='swiper-slide'>
                <a data-fancybox='product-block-image' href='images/product-slider/1.jpg' class='a-clear product-block__main-slide'>
                  <img loading="lazy"  width='488' height='508' src='images/product-slider/1.jpg' alt=''>
                </a>
              </div>
              <div class='swiper-slide'>
                <a data-fancybox='product-block-image' href='images/product-slider/1.jpg' class='a-clear product-block__main-slide'>
                  <img loading="lazy"  width='488' height='508' src='images/product-slider/1.jpg' alt=''>
                </a>
              </div>
              <div class='swiper-slide'>
                <a data-fancybox='product-block-image' href='images/product-slider/1.jpg' class='a-clear product-block__main-slide'>
                  <img loading="lazy"  width='488' height='508' src='images/product-slider/1.jpg' alt=''>
                </a>
              </div>
              <div class='swiper-slide'>
                <a data-fancybox='product-block-image' href='images/product-slider/1.jpg' class='a-clear product-block__main-slide'>
                  <img loading="lazy"  width='488' height='508' src='images/product-slider/1.jpg' alt=''>
                </a>
              </div>
              <div class='swiper-slide'>
                <a data-fancybox='product-block-image' href='images/product-slider/1.jpg' class='a-clear product-block__main-slide'>
                  <img loading="lazy"  width='488' height='508' src='images/product-slider/1.jpg' alt=''>
                </a>
              </div>
              <div class='swiper-slide'>
                <a data-fancybox='product-block-image' href='images/product-slider/1.jpg' class='a-clear product-block__main-slide'>
                  <img loading="lazy"  width='488' height='508' src='images/product-slider/1.jpg' alt=''>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='product-block__info'>
        {{ component('product/product-info') }}
      </div>
    </div>
    <div class='product-block__tabs'>
      {{ component('base-tabs', {
        reviews: params.reviews
      }) }}
    </div>
  </div>
</div>
