---
title: 404
layout: page.njk
permalink: 404.html
---

{%- from "system/block.njk" import block -%}

{{ block("404", {
  options: {
    image: "images/404.png",
    width: 650,
    height: 350,
    title: "Указанная страница не найдена",
    subtitle: "Вернитесь на главную или напишите в <a href='#!' class='a-clear'>службу поддержки</a>",
    btnSecondary: "На главную"
  }
}) }}
