---
title: Статья
layout: page.njk
permalink: article.html
---

{%- from "system/block.njk" import block -%}

{{ block('breadcrumbs', {
  crumbs: ['Главная', 'Блог', 'Статья']
}) }}
{{ block('article', {
  cards: [
    { image: 'images/cards/1.png', cart: true, sale: '-50%', name: 'Луковицы лилии Йеллоу Даймон,', count: '2', priceOld: '2 105 ₽', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/2.png', cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/3.png', cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/4.png', cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'}
  ]
}) }}
