---
title: Корзина
layout: page-secondary.njk
permalink: cart.html
---

{%- from "system/block.njk" import block -%}

{{ block('last-block', {
  options: {
    greyImage: true,
    image: "images/empty-cart-2.png",
    width: 453,
    height: 354,
    title: "В вашей корзине пусто",
    subtitle: "Чтобы добавить товары, перейдите каталог и выполните их покупку",
    btnSecondary: "Перейти в каталог"
  }
}) }}

{{ block('cart', {
  cards: [
    {
      image: 'images/cards/1.png',
      sale: '-50%',
      name: 'Луковицы лилии Йеллоу Даймон,',
      count: '2',
      calculate: true,
      priceOld: '2 105 ₽',
      priceNew: '1 000 105 ₽',
      total: true,
      rating: 5

    },
    {
      image: 'images/cards/1.png',
      sale: '-50%',
      name: 'Луковицы лилии Йеллоу Даймон,',
      count: '2',
      calculate: true,
      priceOld: '2 105 ₽',
      priceNew: '1 000 105 ₽',
      total: true
    },
    {
      image: 'images/cards/1.png',
      sale: '-50%',
      name: 'Луковицы лилии Йеллоу Даймон,',
      count: '2',
      calculate: true,
      priceOld: '2 105 ₽',
      priceNew: '1 000 105 ₽',
      total: true
    },
    {
      image: 'images/cards/1.png',
      sale: '-50%',
      name: 'Луковицы лилии Йеллоу Даймон,',
      count: '2',
      calculate: true,
      priceOld: '2 105 ₽',
      priceNew: '1 000 105 ₽',
      total: true
    },
    {
      image: 'images/cards/1.png',
      sale: '-50%',
      name: 'Луковицы лилии Йеллоу Даймон,',
      count: '2',
      calculate: true,
      priceOld: '2 105 ₽',
      priceNew: '1 000 105 ₽',
      total: true
    },
    {
      image: 'images/cards/1.png',
      sale: '-50%',
      name: 'Луковицы лилии Йеллоу Даймон,',
      count: '2',
      calculate: true,
      priceOld: '2 105 ₽',
      priceNew: '1 000 105 ₽',
      total: true
    }
  ]
}) }}
