---
title: Catalog
layout: page.njk
permalink: catalog.html
---

{%- from "system/block.njk" import block -%}

{{ block('breadcrumbs', {
  crumbs: ['Главная', 'Каталог']
}) }}

{{ block('catalog', {
  items: [
    {
      title: 'Хвойные деревья',
      cards: [
      { image: 'images/catalog/conifers/spruce.jpg', name: 'ЕЛЬ'},
      { image: 'images/catalog/conifers/juniper.jpg', name: 'Можжевельник'},
      { image: 'images/catalog/conifers/fir.jpg', name: 'Пихта'},
      { image: 'images/catalog/conifers/pine.jpg', name: 'Сосна'},
      { image: 'images/catalog/conifers/thuja.jpg', name: 'Туя'}
    ]
    },
    {
      title: 'Плодовые деревья',
      cards: [
      { image: 'images/catalog/fruit/apricot.jpg', name: 'Абрикосы'},
      { image: 'images/catalog/fruit/cherry-plum.jpg', name: 'Алыча'},
      { image: 'images/catalog/fruit/cherry.jpg', name: 'Вишни'},
      { image: 'images/catalog/fruit/pear.jpg', name: 'Грушы'},
      { image: 'images/catalog/fruit/duke.jpg', name: 'Дюк'},
      { image: 'images/catalog/fruit/walnut.jpg', name: 'Грецкий орех'},
      { image: 'images/catalog/fruit/plum.jpg', name: 'Слива'},
      { image: 'images/catalog/fruit/cherries.jpg', name: 'Черешня'},
      { image: 'images/catalog/fruit/apple.jpg', name: 'Яблони'}
    ]
    },
    {
      title: 'Декоративные деревья',
      cards: [
      { image: 'images/catalog/decorative-trees/willow.jpg', name: 'ивы'}
    ]
    },
    {
      title: 'Декоративные кустарники',
      cards: [
      { image: 'images/catalog/decorative-shrubs/euonymus.jpg', name: 'Бересклет'},
      { image: 'images/catalog/decorative-shrubs/weigela.jpg', name: 'Вейгела'},
      { image: 'images/catalog/decorative-shrubs/lilac.jpg', name: 'Сирень'},
      { image: 'images/catalog/decorative-shrubs/viburnum.jpg', name: 'Калина'},
      { image: 'images/catalog/decorative-shrubs/bloodroot.jpg', name: 'Лапчатка'},
      { image: 'images/catalog/decorative-shrubs/microbiota.jpg', name: 'Микробиота'},
      { image: 'images/catalog/decorative-shrubs/bubble.jpg', name: 'Пузыреплодник'},
      { image: 'images/catalog/decorative-shrubs/rose.jpg', name: 'Розы'},
      { image: 'images/catalog/decorative-shrubs/boxwood.jpg', name: 'самшит'},
      { image: 'images/catalog/decorative-shrubs/spirea.jpg', name: 'Спирея'}
    ]
    },
    {
      title: 'Плодовые кустарники',
      cards: [
      { image: 'images/catalog/fruit-shrubs/hawthorn.jpg', name: 'Боярышник'},
      { image: 'images/catalog/fruit-shrubs/grape.jpg', name: 'Виноград'},
      { image: 'images/catalog/fruit-shrubs/blueberry.jpg', name: 'Голубика'},
      { image: 'images/catalog/fruit-shrubs/blackberry.jpg', name: 'Ежевика'},
      { image: 'images/catalog/fruit-shrubs/honeysuckle.jpg', name: 'Жимолость'},
      { image: 'images/catalog/fruit-shrubs/strawberry.jpg', name: 'Клубника'},
      { image: 'images/catalog/fruit-shrubs/gooseberry.jpg', name: 'Крыжовник'},
      { image: 'images/catalog/fruit-shrubs/raspberries.jpg', name: 'Малина'}
    ]
    },
    {
      title: 'Декоративные растения',
      cards: [
      { image: 'images/catalog/ornamental-plants/hydrangea.jpg', name: 'Гортензия'},
      { image: 'images/catalog/ornamental-plants/derain.jpg', name: 'Дерен'},
      { image: 'images/catalog/ornamental-plants/peonies.jpg', name: 'Пионы'},
      { image: 'images/catalog/ornamental-plants/rhodorendron.jpg', name: 'Родорендрон'}
    ]
    }
  ]
}) }}


{{ block('wrapper', {
  type: 'grey',
  sections: [
    block('popular-goods', {
      title: 'Акции',
      cards: [
        { image: 'images/cards/1.png', sale: '-50%', name: 'Луковицы лилии Йеллоу Даймон,', count: '2', priceOld: '2 105 ₽', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/3.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/4.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/5.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'}
      ]
    })
  ]
}) }}

