---
title: Категории
layout: page.njk
permalink: category.html
---

{%- from "system/block.njk" import block -%}

{{ block('breadcrumbs', {
  crumbs: ['Главная', 'Садовые растения']
}) }}

{{ block('catalog-filter', {
  vertical: true,
  types: [
    { name: 'Луковицы', active: true },
    { name: 'Летние' },
    { name: 'Зимние' },
    { name: 'Акции' },
    { name: 'Срочные' },
    { name: 'Срочные' }
  ],
  cards: [
    { image: 'images/cards/1.png', options: ['Летнее', 'Солнцелюбивое', 'Для живой изгороди', 'Для живой изгороди'  ], sale: "50%", cart: true, rating: 5, label: { name: 'promotion', value: 'Акция' }, favorite: true, name: 'Луковицы лилии Йеллоу Даймон,', stock: "В наличии", priceOld: '2 105 ₽', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/2.png', options: ['Летнее', 'Солнцелюбивое', 'Для живой изгороди'], cart: true, label: { name: 'bestseller', value: 'Хит продаж' }, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/3.png', options: ['Летнее', 'Солнцелюбивое', 'Для живой изгороди'], cart: true, label: { name: 'new', value: 'Новинка' }, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/4.png', options: ['Летнее', 'Солнцелюбивое', 'Для живой изгороди'], cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/5.png', options: ['Летнее', 'Солнцелюбивое', 'Для живой изгороди'], cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/1.png', options: ['Летнее', 'Солнцелюбивое', 'Для живой изгороди'], cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/2.png', options: ['Летнее', 'Солнцелюбивое', 'Для живой изгороди'], cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/3.png', options: ['Летнее', 'Солнцелюбивое', 'Для живой изгороди'], cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/4.png', options: ['Летнее', 'Солнцелюбивое', 'Для живой изгороди'], cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/5.png', options: ['Летнее', 'Солнцелюбивое', 'Для живой изгороди'], cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/4.png', options: ['Летнее', 'Солнцелюбивое', 'Для живой изгороди'], cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/5.png', options: ['Летнее', 'Солнцелюбивое', 'Для живой изгороди'], cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'}
  ],
  pagination: true
}) }}

{{ block('catalog-filter', {
  vertical: false,
  types: [
    { name: 'Луковицы', active: true },
    { name: 'Летние' },
    { name: 'Зимние' },
    { name: 'Акции' },
    { name: 'Срочные' },
    { name: 'Срочные' }
  ],
  cards: [
    { image: 'images/cards/1.png', options: ['Летнее', 'Солнцелюбивое', 'Для живой изгороди', 'Для живой изгороди'  ], sale: "50%", cart: true, rating: 5, label: { name: 'promotion', value: 'Акция' }, favorite: true, name: 'Луковицы лилии Йеллоу Даймон,', stock: "В наличии", priceOld: '2 105 ₽', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/2.png', options: ['Летнее', 'Солнцелюбивое', 'Для живой изгороди'], cart: true, label: { name: 'bestseller', value: 'Хит продаж' }, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/3.png', options: ['Летнее', 'Солнцелюбивое', 'Для живой изгороди'], cart: true, label: { name: 'new', value: 'Новинка' }, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/4.png', options: ['Летнее', 'Солнцелюбивое', 'Для живой изгороди'], cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/5.png', options: ['Летнее', 'Солнцелюбивое', 'Для живой изгороди'], cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/1.png', options: ['Летнее', 'Солнцелюбивое', 'Для живой изгороди'], cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/2.png', options: ['Летнее', 'Солнцелюбивое', 'Для живой изгороди'], cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/3.png', options: ['Летнее', 'Солнцелюбивое', 'Для живой изгороди'], cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/4.png', options: ['Летнее', 'Солнцелюбивое', 'Для живой изгороди'], cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/5.png', options: ['Летнее', 'Солнцелюбивое', 'Для живой изгороди'], cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/4.png', options: ['Летнее', 'Солнцелюбивое', 'Для живой изгороди'], cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/5.png', options: ['Летнее', 'Солнцелюбивое', 'Для живой изгороди'], cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'}
  ],
  pagination: true,
  article: {
    title: 'Статья',
    text: 'Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности в
          значительной степени обуславливает создание существенных финансовых и административных условий. С другой
          стороны
          рамки и место обучения кадров позволяет оценить значение существенных финансовых и административных условий.
          Товарищи! сложившаяся структура организации позволяет выполнять важные задания по разработке систем массового
          участия. Не следует, однако забывать, что укрепление и развитие структуры способствует подготовки и реализации
          систем массового участия. Не следует, однако забывать, что постоянное информационно-пропагандистское
          обеспечение
          нашей деятельности в значительной степени обуславливает создание существенных финансовых и административных
          условий. С другой стороны рамки и место обучения кадров позволяет оценить значение существенных финансовых и
          административных условий. Товарищи! сложившаяся структура организации позволяет выполнять важные задания по
          разработке систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры
          способствует подготовки и реализации систем массового участия.'
  }
}) }}
