---
title: Категория скидки
layout: page.njk
permalink: category-sale.html
---

{%- from "system/block.njk" import block -%}

{{ block('breadcrumbs', {
  crumbs: ['Главная', 'Блог', 'Скидки']
}) }}

{{ block('sale-banner') }}

{{ block('catalog-filter', {
  cards: [
    { image: 'images/cards/1.png', cart: true, rating: 5, sale: '-50%', name: 'Луковицы лилии Йеллоу Даймон,', count: '2', priceOld: '2 105 ₽', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/2.png', cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/3.png', cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/4.png', cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/5.png', cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/1.png', cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/2.png', cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/3.png', cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/4.png', cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/5.png', cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/4.png', cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/5.png', cart: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'}
  ],
  pagination: true
}) }}

{{ block('sale-text') }}
