---
title: Контакты
layout: page.njk
permalink: contacts.html
---

{%- from "system/block.njk" import block -%}

{{ block('breadcrumbs', {
  crumbs: ['Главная', 'Контакты']
}) }}

{{ block('contacts') }}
