---
title: Избранное
layout: page.njk
permalink: favorite.html
---

{%- from "system/block.njk" import block -%}

{{ block('breadcrumbs', {
  crumbs: ['Главная', 'Блог', 'Статья']
}) }}

{{ block('favorite', {
  cards: [
    { image: 'images/cards/1.png', cart: true, remove: true, rating: 5, sale: '-50%', name: 'Луковицы лилии Йеллоу Даймон,', count: '2', priceOld: '2 105 ₽', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/2.png', cart: true, remove: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/3.png', cart: true, remove: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/4.png', cart: true, remove: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/5.png', cart: true, remove: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/1.png', cart: true, remove: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/2.png', cart: true, remove: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/3.png', cart: true, remove: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/4.png', cart: true, remove: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/5.png', cart: true, remove: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/4.png', cart: true, remove: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
    { image: 'images/cards/5.png', cart: true, remove: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'}
  ]
}) }}

{{ block('wrapper', {
  type: 'green',
  sections: [
    block('special-offer', {
      cards: [
        { image: 'images/cards/1.png', sale: '-50%', name: '1Луковицы лилии Йеллоу Даймон,', count: '2', priceOld: '2 105 ₽', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/2.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/3.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/4.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/5.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/1.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'}
      ]
    })
  ]
}) }}
