---
title: Главная страница
layout: page.njk
permalink: index.html
---

{%- from "system/block.njk" import block -%}

{{ block('main-slider') }}

{{ block('wrapper', {
  type: 'grey',
  sections: [
    block('popular', {
      items: [
        { image: 'images/catalog-item/rose.jpg', name: 'Роза'},
        { image: 'images/catalog-item/grapes.jpg', name: 'Виноград'},
        { image: 'images/catalog-item/plum.jpg', name: 'Слива'},
        { image: 'images/catalog-item/cherry.jpg', name: 'Вишня'},
        { image: 'images/catalog-item/pine.jpg', name: 'Сосна'},
        { image: 'images/catalog-item/hydrangea.jpg', name: 'Гортензия'}
      ]
    }) ]
}) }}

{{ block('wrapper', {
  type: 'green',
  sections: [
    block('special-offer', {
      cards: [
        { image: 'images/cards/1.png', sale: '-50%', name: 'Луковицы лилии Йеллоу Даймон,',  priceOld: '2 105 ₽', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/2.png', name: 'Луковицы лилии Йеллоу Даймонд,', stock: 'В наличии (2)', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/3.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/4.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/5.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/1.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'}
      ]
    })
  ]
}) }}

{{ block('wrapper', {
  type: 'grey',
  sections: [
    block('block-text'),
    block('popular-goods', {
      title: 'Популярные товары',
      cards: [
        { image: 'images/cards/1.png', sale: '-50%', name: 'Луковицы лилии Йеллоу Даймон,', count: '2', priceOld: '2 105 ₽', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/2.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/3.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/4.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/5.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/1.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/2.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/3.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/4.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/5.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/4.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/5.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'}
      ]
    }),
    block('our-reviews', {
      reviews: [
        { name: "Алена Петровна", small: true, photo: ["images/video/2.jpg", "images/video/2.jpg", "images/video/2.jpg"], ava: "images/ava.png", text: 'Гортензия метельчатая "Лаймлайт" (Limelight) — ЗНАМЕНИТЫЙ на весь мир сорт голландской селекции ! ' },
        { name: "Алена Петровна", small: true, ava: "images/ava.png", text: 'Гортензия метельчатая "Лаймлайт" (Limelight) — ЗНАМЕНИТЫЙ на весь мир сорт голландской селекции ! Просто завораживает своими пышными свечками необыкновенных цветов. Ярко-зеленый цвет соцветий, который наблюдается в самом начале процесса цветения сменяется глубоким белым и к концу цветения плавно переходит в розоватый цветения сменяется глубоким белым и к концу цветения плавно переходит в розоватый цветения сменяется глубоким белым и к концу цветения плавно переходит в розоватый.' },
        { name: "Алена Петровна", small: true, ava: "images/ava.png", video: { src: 'https://www.youtube.com/watch?v=z2X2HaTvkl8', image: 'images/video/1.jpg', width: '510', height: '326' } },
        { name: "Алена Петровна", small: true, ava: "images/ava.png", text: 'Гортензия метельчатая "Лаймлайт" (Limelight) — ЗНАМЕНИТЫЙ на весь мир сорт голландской сблюдается в самом начале процесса цветения сменяется глубоким белым и к концу цветения плавно переходит в розоватый.' },
        { name: "Алена Петровна", small: true, ava: "images/ava.png", text: 'Гортензия метельчатая "Лаймлайт" (Limelight) — ЗНАМЕНИТЫЙ на весь мир сорт голландской селекции ! Просто завораживает своими пышными свечками необыкновенных цветов. Ярко-зеленый цвет соцветий, который наблюдается в самом начале процесса цветения сменяется глубоким белым и к концу цветения плавно переходит в розоватый.' },
        { name: "Алена Петровна", small: true, ava: "images/ava.png", text: 'Гортензия метельчатая "Лаймлайт" (Limelight) — ЗНАМЕНИТЫЙ на весь мир сорт голландской селекции ! Просто завораживает своими пышными свечками необыкновенных цветов. Ярко-зеленый цвет соцветий, который наблюдается в самом начале процесса цветения сменяется глубоким белым и к концу цветения плавно переходит в розоватый.' },
        { name: "Алена Петровна", small: true, ava: "images/ava.png", text: 'Гортензия метельчатая "Лаймлайт" (Limelight) — ЗНАМЕНИТЫЙ на весь мир сорт голландской селекции ! Просто завораживает своими пышными свечками необыкновенных цветов. Ярко-зеленый цвет соцветий, который наблюдается в самом начале процесса цветения сменяется глубоким белым и к концу цветения плавно переходит в розоватый.' }
      ]
    }),
    block('subscribe-section')
  ]
}) }}


{{ block('wrapper', {
  type: 'grey',
  sections: [
    block('news')
  ]
}) }}
