---
title: Карточка
layout: page.njk
permalink: product.html
---

{%- from "system/block.njk" import block -%}

{{ block('product/product-block', {
  reviews: [
    { name: "Алена Петровна", photo: ["images/video/2.jpg", "images/video/2.jpg", "images/video/2.jpg"], ava: "images/ava.png", level: "Садовод-любитель", date: "20.06.2021", text: 'Гортензия метельчатая "Лаймлайт" (Limelight) — ЗНАМЕНИТЫЙ на весь мир сорт голландской селекции ! Просто завораживает своими пышными свечками необыкновенных цветов. Ярко-зеленый цвет соцветий, который наблюдается в самом начале процесса цветения сменяется глубоким белым и к концу цветения плавно переходит в розоватый.' },
    { name: "Алена Петровна", ava: "images/ava.png", level: "Садовод-любитель", date: "20.06.2021", text: 'Гортензия метельчатая "Лаймлайт" (Limelight) — ЗНАМЕНИТЫЙ на весь мир сорт голландской селекции ! Просто завораживает своими пышными свечками необыкновенных цветов. Ярко-зеленый цвет соцветий, который наблюдается в самом начале процесса цветения сменяется глубоким белым и к концу цветения плавно переходит в розоватый цветения сменяется глубоким белым и к концу цветения плавно переходит в розоватый цветения сменяется глубоким белым и к концу цветения плавно переходит в розоватый.' },
    { name: "Алена Петровна", ava: "images/ava.png", level: "Садовод-любитель", date: "20.06.2021", video: { src: 'https://www.youtube.com/watch?v=z2X2HaTvkl8', image: 'images/video/1.jpg', width: '510', height: '326'} },
    { name: "Алена Петровна", answer: {date: '20.06.2021', text: 'Спасибо за ваш отзыв, будем в курсе'}, ava: "images/ava.png", level: "Садовод-любитель", date: "20.06.2021", text: 'Гортензия метельчатая "Лаймлайт" (Limelight) — ЗНАМЕНИТЫЙ на весь мир сорт голландской сблюдается в самом начале процесса цветения сменяется глубоким белым и к концу цветения плавно переходит в розоватый.' },
    { name: "Алена Петровна", ava: "images/ava.png", level: "Садовод-любитель", date: "20.06.2021", text: 'Гортензия метельчатая "Лаймлайт" (Limelight) — ЗНАМЕНИТЫЙ на весь мир сорт голландской селекции ! Просто завораживает своими пышными свечками необыкновенных цветов. Ярко-зеленый цвет соцветий, который наблюдается в самом начале процесса цветения сменяется глубоким белым и к концу цветения плавно переходит в розоватый.' },
    { name: "Алена Петровна", ava: "images/ava.png", level: "Садовод-любитель", date: "20.06.2021", text: 'Гортензия метельчатая "Лаймлайт" (Limelight) — ЗНАМЕНИТЫЙ на весь мир сорт голландской селекции ! Просто завораживает своими пышными свечками необыкновенных цветов. Ярко-зеленый цвет соцветий, который наблюдается в самом начале процесса цветения сменяется глубоким белым и к концу цветения плавно переходит в розоватый.' },
    { name: "Алена Петровна", answer: {date: '20.06.2021', text: 'Спасибо за ваш отзыв, будем в курсе'}, ava: "images/ava.png", level: "Садовод-любитель", date: "20.06.2021", text: 'Гортензия метельчатая "Лаймлайт" (Limelight) — ЗНАМЕНИТЫЙ на весь мир сорт голландской селекции ! Просто завораживает своими пышными свечками необыкновенных цветов. Ярко-зеленый цвет соцветий, который наблюдается в самом начале процесса цветения сменяется глубоким белым и к концу цветения плавно переходит в розоватый.' }
  ]
}) }}

{{ block('wrapper', {
  type: 'grey',
  sections: [
    block('product-grid', {
      title: 'С этим товаром берут',
      cards: [
        { image: 'images/cards/1.png', sale: '-50%', name: 'Луковицы лилии Йеллоу Даймон,',  priceOld: '2 105 ₽', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/2.png', name: 'Луковицы лилии Йеллоу Даймонд,', stock: 'В наличии (2)', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/3.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/4.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'}
      ]
    }),
    block('product-grid', {
      title: 'Недавно просмотренные',
      cards: [
        { image: 'images/cards/1.png', sale: '-50%', name: 'Луковицы лилии Йеллоу Даймон,',  priceOld: '2 105 ₽', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/2.png', name: 'Луковицы лилии Йеллоу Даймонд,', stock: 'В наличии (2)', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/3.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/4.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'}
      ]
    })
  ]
}) }}

{{ block('wrapper', {
  type: 'green',
  sections: [
    block('special-offer', {
      cards: [
        { image: 'images/cards/1.png', sale: '-50%', name: 'Луковицы лилии Йеллоу Даймон,',  priceOld: '2 105 ₽', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/2.png', name: 'Луковицы лилии Йеллоу Даймонд,', stock: 'В наличии (2)', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/3.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/3.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/3.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/3.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
        { image: 'images/cards/4.png', name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'}
      ]
    })
  ]
}) }}
