{%- from "system/component.njk" import component -%}

<footer class='footer'>
  <div class='container'>
    <div class='footer__container'>
      <div class='footer__logo-wrapper'>
        <a href='#!' class='footer__logo a-clear'>
          <img loading="lazy"  width='156' height='11' src='images/logo.svg' alt=''>
        </a>
        <div class='footer__your-town'>
          <div class='your-town'>
            <div class='your-town__title'>Ваш город:</div>
            <a href="#my-mmenu-towns" class='your-town__name btn'>
              <span>Москва</span>
              <svg width="8" height="3">
                <use xlink:href='sprite.svg#triangle'></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <ul class='ul-clear footer__menu footer__menu_mobile'>
        <li class='footer__menu-item'>
          <div class=' footer__menu-link footer__sub-menu-link js-footer-menu-link'>
            <span>Каталог растений</span>
            <ul class='footer__sub-menu ul-clear'>
              <li class='footer__menu-item'><a href='/' class='a-clear footer__menu-link'>Садовые растения</a></li>
              <li class='footer__menu-item'><a href='#!' class='a-clear footer__menu-link'>Садовые растения</a></li>
              <li class='footer__menu-item'><a href='#!' class='a-clear footer__menu-link'>Садовые растения</a></li>
            </ul>
          </div>
        </li>
        <li class='footer__menu-item'>
          <div class='footer__menu-link footer__sub-menu-link js-footer-menu-link'>Услуги и сервис</div>
        </li>
        <li class='footer__menu-item'>
          <div class='footer__menu-link footer__sub-menu-link js-footer-menu-link'>Вопрос и ответ</div>
        </li>
        <li class='footer__menu-item'>
          <div class='footer__menu-link footer__sub-menu-link js-footer-menu-link'>Блог</div>
        </li>
        <li class='footer__menu-item'>
          <div class='footer__menu-link footer__sub-menu-link js-footer-menu-link'>Акции</div>
        </li>
        <li class='footer__menu-item'><a href='#!' class='a-clear footer__menu-link'>О нас</a></li>
        <li class='footer__menu-item'><a href='#!' class='a-clear footer__menu-link'>Способ оплаты</a></li>
        <li class='footer__menu-item'><a href='#!' class='a-clear footer__menu-link'>Способ доставки</a></li>
        <li class='footer__menu-item'><a href='#!' class='a-clear footer__menu-link'>Личный кабинет</a></li>
        <li class='footer__menu-item'><a href='#!' class='a-clear footer__menu-link'>Контакты</a></li>
      </ul>
      <ul class='ul-clear footer__menu footer__menu_desktop'>
        <li class='footer__menu-item'>
          <a href="#!" class='a-clear footer__menu-link'>Каталог растений</a>
        </li>
        <li class='footer__menu-item'>
          <a href="#!" class='a-clear footer__menu-link'>Услуги и сервис</a>
        </li>
        <li class='footer__menu-item'>
          <a href="#!" class='a-clear footer__menu-link'>Вопрос и ответ</a>
        </li>
        <li class='footer__menu-item'>
          <a href="#!" class='a-clear footer__menu-link'>Блог</a>
        </li>
        <li class='footer__menu-item'>
          <a href="#!" class='a-clear footer__menu-link'>Акции</a>
        </li>
        <li class='footer__menu-item'><a href='#!' class='a-clear footer__menu-link'>О нас</a></li>
        <li class='footer__menu-item'><a href='#!' class='a-clear footer__menu-link'>Способ оплаты</a></li>
        <li class='footer__menu-item'><a href='#!' class='a-clear footer__menu-link'>Способ доставки</a></li>
        <li class='footer__menu-item'><a href='#!' class='a-clear footer__menu-link'>Личный кабинет</a></li>
        <li class='footer__menu-item'><a href='#!' class='a-clear footer__menu-link'>Контакты</a></li>
      </ul>

      <div class='footer__contact'>
        <a href='#!' class='a-clear footer__contact-item'>
          <svg class='footer__contact-icon' width="16" height="17">
            <use xlink:href='sprite.svg#carbon'></use>
          </svg>
          <div class='footer__contact-text'>г. Москва, Красногорский р-н, ул. Экспериментальная, д. 14</div>
        </a>
        <div class='footer__contact-item footer__contact-phone'>
          <a href='tel:74959894534' class='a-clear'>
            <svg class='footer__contact-icon' width="16" height="17">
              <use xlink:href='sprite.svg#phone'></use>
            </svg>
          </a>
          <a href='tel:74959894534' class='a-clear footer__contact-text'>+7 (495) 989-45-34</a>
        </div>
        <div class='footer__contact-item'>
          <svg class='footer__contact-icon' width="16" height="17">
            <use xlink:href='sprite.svg#clock'></use>
          </svg>
          <div class='footer__contact-text footer__contact-text_hours'>с 8:00 до 20:00 без выходных</div>
        </div>
        <div class='footer__contact-item'>
          <a href='mailto:info@eco-plant.ru' class='a-clear'>
            <svg class='footer__contact-icon' width="16" height="17">
              <use xlink:href='sprite.svg#mail'></use>
            </svg>
          </a>
          <a href='mailto:info@eco-plant.ru' class='a-clear footer__contact-text'>info@eco-plant.ru</a>
        </div>
        <div class='footer__socials'>
          {{ component('our-socials') }}
        </div>
      </div>
    </div>
  </div>
  <div class='footer__bottom'>
    <div class='container'>
      <div class='footer__bottom-container'>
        <div class='footer__bottom-company'>ООО Экоплант, 1999 - 2021 ©</div>
        <a href='#!' class='footer__bottom-link a-clear'>Публичная оферта</a>
        <a href='#!' class='footer__bottom-link a-clear'>Политика конфиденциальности</a>
      </div>
    </div>
  </div>
</footer>

<div id='fancy-login' class='fancy-login' hidden>
  <div class='fancy-login__inner'>
    <div class='fancy-login__title'>Вход</div>
    <div class='fancy-login__subtitle'>
      <span>Нет аккаунта?</span>
      <a href='#!' class='a-clear'>Зарегистрироваться</a>
    </div>
    <div class='fancy-login__input-wrapper'>
      {{ component('base-input', {
        placeholder: "Ваше имя или электронная почта"
      }) }}
      <div>
        {{ component('base-input', {
          placeholder: "Пароль"
        }) }}
        {{ component('base-checkbox', {
          text: "Запомнить меня",
          class: "fancy-login__checkbox"
        }) }}
      </div>
      <button class='btn btn_type_secondary fancy-login__btn'>Войти</button>
    </div>
    <div class='fancy-login__forgot'>
      <span>Забыли пароль?</span> <a data-fancybox data-src='#fancy-recovery' href='#!' class='a-clear'>Восстановить</a>
    </div>
  </div>
  <div class='fancy-login__bottom'>
    <div class='fancy-login__come-in'>Войти через:</div>
    <div class='fancy-login__socials'>
      <a href='#!' class='a-clear fancy-login__social'>
        <svg width="20" height="20">
          <use xlink:href='sprite.svg#google'></use>
        </svg>
      </a>
      <a href='#!' class='a-clear fancy-login__social'>
        <svg width="20" height="20">
          <use xlink:href='sprite.svg#facebook'></use>
        </svg>
      </a>
      <a href='#!' class='a-clear fancy-login__social'>
        <svg width="20" height="20">
          <use xlink:href='sprite.svg#vk'></use>
        </svg>
      </a>
      <a href='#!' class='a-clear fancy-login__social'>
        <svg width="20" height="20">
          <use xlink:href='sprite.svg#yandex'></use>
        </svg>
      </a>
    </div>
  </div>
</div>

<div id='fancy-registration' class='fancy-login' hidden>
  <div class='fancy-login__inner'>
    <div class='fancy-login__title'>Регистрация</div>
    <div class='fancy-login__subtitle'>
      <span>Есть аккаунт?</span>
      <a href='#!' class='a-clear'>Войти</a>
    </div>
    <div class='fancy-login__input-wrapper'>
      {{ component('base-field-input', {
        items: [
          { placeholder: "Ваше имя" },
          { placeholder: "Электронная почта" },
          { placeholder: "Номер телефона" },
          { placeholder: "Пароль" },
          { placeholder: "Повторите пароль" }
        ]
      }) }}
    </div>
    <div class='fancy-login__btn-wrapper'>
      {{ component('base-checkbox', {
        condition: 'checked',
        text: "Я согласен на <a href='#!' class='fancy-login__link'>обработку данных</a>"
      }) }}
      <button class='btn btn_type_secondary fancy-login__btn fancy-login__btn_come-in'>Войти</button>
    </div>
  </div>
  <div class='fancy-login__bottom'>
    <div class='fancy-login__come-in'>Войти через:</div>
    <div class='fancy-login__socials'>
      <a href='#!' class='a-clear fancy-login__social'>
        <svg width="20" height="20">
          <use xlink:href='sprite.svg#google'></use>
        </svg>
      </a>
      <a href='#!' class='a-clear fancy-login__social'>
        <svg width="20" height="20">
          <use xlink:href='sprite.svg#facebook'></use>
        </svg>
      </a>
      <a href='#!' class='a-clear fancy-login__social'>
        <svg width="20" height="20">
          <use xlink:href='sprite.svg#vk'></use>
        </svg>
      </a>
      <a href='#!' class='a-clear fancy-login__social'>
        <svg width="20" height="20">
          <use xlink:href='sprite.svg#yandex'></use>
        </svg>
      </a>
    </div>
  </div>
</div>

<div id='fancy-towns' class='fancy-towns' hidden>
  <div class='fancy-towns__title'>Ваш город</div>
  {{ component('base-input', {
    class: "base-input fancy-towns__input",
    placeholder: "Введите название"
  }) }}
  <div class='fancy-towns__group'>
    <div class='fancy-towns__group-col'>
      <div class='fancy-towns__group-item current'><a class='a-clear' href='#!'>Москва</a></div>
      <div class='fancy-towns__group-item '><a class='a-clear' href='#!'>Санкт-Петербург</a></div>
      <div class='fancy-towns__group-item '><a class='a-clear' href='#!'>Нижний новород</a></div>
      <div class='fancy-towns__group-item '><a class='a-clear' href='#!'>Сочи</a></div>
      <div class='fancy-towns__group-item '><a class='a-clear' href='#!'>Новосибирск</a></div>
      <div class='fancy-towns__group-item '><a class='a-clear' href='#!'>Екатеринбург</a></div>
      <div class='fancy-towns__group-item '><a class='a-clear' href='#!'>Казань</a></div>
    </div>
    <div class='fancy-towns__group-col'>
      <div class='fancy-towns__group-item'><a class='a-clear' href='#!'>Челябинск</a></div>
      <div class='fancy-towns__group-item '><a class='a-clear' href='#!'>Самара</a></div>
      <div class='fancy-towns__group-item '><a class='a-clear' href='#!'>Омск</a></div>
      <div class='fancy-towns__group-item '><a class='a-clear' href='#!'>Ростов-на-Дону</a></div>
      <div class='fancy-towns__group-item '><a class='a-clear' href='#!'>Новосибирск</a></div>
      <div class='fancy-towns__group-item '><a class='a-clear' href='#!'>Новосибирск</a></div>
      <div class='fancy-towns__group-item '><a class='a-clear' href='#!'>Новосибирск</a></div>
    </div>
    <div class='fancy-towns__group-col'>
      <div class='fancy-towns__group-item'><a class='a-clear' href='#!'>Челябинск</a></div>
      <div class='fancy-towns__group-item'><a class='a-clear' href='#!'>Самара</a></div>
      <div class='fancy-towns__group-item'><a class='a-clear' href='#!'>Омск</a></div>
      <div class='fancy-towns__group-item'><a class='a-clear' href='#!'>Ростов-на-Дону</a></div>
      <div class='fancy-towns__group-item'><a class='a-clear' href='#!'>Новосибирск</a></div>
    </div>
  </div>
</div>

<div id='fancy-recovery' class='fancy-login' hidden>
  <div class='fancy-login__inner'>
    <div class='fancy-login__input-wrapper'>
      <div class='fancy-login__title'>Восстановление пароля</div>
      {{ component('base-input', {
        placeholder: "Ваша электронная почта"
      }) }}
      <button class='btn btn_type_secondary fancy-login__btn'>Отправить письмо</button>
    </div>
    <a href='#!' class='a-clear fancy-login__back'>Вернутся назад</a>
  </div>
</div>


<div id="add-to-cart" class="add-to-cart" hidden>
  <div class="add-to-cart__inner">
    <div class="add-to-cart__title">Товар добавлен в корзину</div>
    <div class="add-to-cart__items">
      <div class="add-to-cart__item">
        <a href="#!" class="a-clear add-to-cart__image-wrapper"><img loading="lazy" src="images/cards/2.png" alt=""></a>
        <a href="#!" class="a-clear add-to-cart__name">Луковицы лилии Йеллоу Даймонд</a>
        <div class="add-to-cart__count">1 шт.</div>
        <div class="add-to-cart__price">1 000 105 ₽</div>
      </div>
      <div class="add-to-cart__item">
        <a href="#!" class="a-clear add-to-cart__image-wrapper"><img loading="lazy" src="images/cards/2.png" alt=""></a>
        <a href="#!" class="a-clear add-to-cart__name">Луковицы лилии Йеллоу Даймонд</a>
        <div class="add-to-cart__count">1 шт.</div>
        <div class="add-to-cart__price">1 000 105 ₽</div>
      </div>
    </div>
    <div class="add-to-cart__buttons">
      <button class="btn btn_type_additional add-to-cart__button">Продолжить покупки</button>
      <button class="btn btn_type_primary add-to-cart__button">В корзину</button>
    </div>
  </div>
</div>
