<header class='header'>
  <div class='header-top wrapper-grey'>
    <div class='container'>
      <div class='header-top__container'>
        <ul class='ul-clear header-top__menu'>
          <li class='header-top__menu-item'><a href='#!' class='a-clear'>О компании</a></li>
          <li class='header-top__menu-item'><a href='#!' class='a-clear'>Как купить</a></li>
          <li class='header-top__menu-item'>
            {{ component('more-menu') }}
          </li>
        </ul>
        <div class='header-top__town'>
          {{ component('your-town') }}
        </div>
        <div class='header-top__works'>Работаем 24/7</div>
        <div class='header-top__user'>
          {% if true %}
            <div class="header-top__login-wrapper">
              <div class='header-top__login'>
                <a href='#!' class='a-clear' data-fancybox data-src='#fancy-login'>Вход</a>
              </div>
              <div class='header-top__user-divider'></div>
              <div class='header-top__registration'>
                <a href='#!' class='a-clear' data-fancybox
                   data-src='#fancy-registration'>Регистрация</a>
              </div>
            </div>
          {% else %}
            {{ component('account') }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
<div class='header-bottom sticky'>
  <div class='container'>
    <div class='header-bottom__container'>
      <div class='header-bottom__catalog-btn'>
        {{ component('product-catalog-list') }}
      </div>
      <div class='header-bottom__logo-wrapper'>
        <a href='#!' class='a-clear'><img loading="lazy" width='156' height='11' src='images/logo.svg'
                                          alt='Логотип'></a>
        <a href='tel:88001532323' class='a-clear header-bottom__tel'>8 800 153-23-23</a>
      </div>
      {{ component('search-block', {
        isSearch: false
      }) }}
      <div class='header-bottom__favorite'>
        {{ component('favorite-button') }}
      </div>
      <a href='#!' class='a-clear header-bottom__basket'>
        Корзина
        <span class='header-bottom__basket-count'>99+</span>
      </a>
    </div>
  </div>
</div>
<div class='header-mobile sticky'>
  <div class='container'>
    <div class='header-mobile__container'>
      <a href='#my-mmenu-menu' class='header-mobile__menu-btn a-clear'>
        <svg width='18' height='12'>
          <use xlink:href='sprite.svg#btn-menu'></use>
        </svg>
      </a>
      <div class='header-mobile__logo-wrapper'>
        <a href='#!' class='a-clear'><img loading="lazy" width='156' height='11' src='images/logo.svg'
                                          alt='Логотип'></a>
        <a href='tel:88001532323' class='a-clear header-mobile__tel'>8 800 153-23-23</a>
      </div>
      <a href='#my-mmenu-catalog' class='a-clear header-mobile__catalog-btn'>Каталог</a>
      <a href='#my-mmenu-search'  class='a-clear btn header-mobile__btn-icon'>
        <svg width='15' height='15'>
          <use xlink:href='sprite.svg#search'></use>
        </svg>
      </a>
      <button class='btn header-mobile__btn-icon header-mobile__btn-icon_user js-button-click ' data-mobile-hide-button="menu">
        <svg width="16" height="17">
          <use xlink:href='sprite.svg#user'></use>
        </svg>
      </button>
      <button class='header-bottom__basket header-mobile__btn-icon header-mobile__btn-icon_basket js-button-click ' data-mobile-hide-button="basket">
        <svg width="18" height="18">
          <use xlink:href='sprite.svg#basket'></use>
        </svg>
        <span class='header-bottom__basket-count'>99+</span>
      </button>
    </div>
  </div>
</div>

{{ component('mobile-hide-content', {
  options: {
    type: 'menu',
    header: "          <div class='your-town'>
            <div class='your-town__title'>Ваш город:</div>
            <a href='#my-mmenu-towns' class='your-town__name btn'>
    <span>Москва</span>
    <svg width='8' height='3'>
      <use xlink:href='sprite.svg#triangle'></use>
    </svg>
    </a>
    </div>",
    buttonPrimary: 'Вход',
    buttonSecondary: 'Регистрация',
    items: [
      '<a href="/sale.html" class="a-clear mobile-hide-content__menu-item">История заказов</a>',
      '<a href="/sale.html" class="a-clear mobile-hide-content__menu-item">Список сравнения</a>',
      '<a href="/sale.html" class="a-clear mobile-hide-content__menu-item">Отложенные товары</a>'
    ]
  }
}) }}

{{ component('mobile-hide-content', {
  options: {
    type: 'basket',
    header: '<div class="mobile-hide-content__header-text">Корзина</div>',
    buttonPrimary: 'Смотреть еще 45 товаров',
    items: [
      '      <a href="#!" class="a-clear mobile-hide-content__card">
        <div class="mobile-hide-content__image-wrapper">
          <img width="56" height="56" loading="lazy" src="images/basket/1.jpg" alt="">
        </div>
        <div class="mobile-hide-content__desc">
          <div class="mobile-hide-content__name">Бальзам Живица туба 110 г.</div>
          <div class="mobile-hide-content__quantity">10 шт.</div>
        </div>
        <div class="mobile-hide-content__prices">
          <div class="mobile-hide-content__price mobile-hide-content__price_old">2 105 ₽</div>
          <div class="mobile-hide-content__price">1 100 105 ₽</div>
        </div>
      </a>
',
      '      <a href="#!" class="a-clear mobile-hide-content__card">
        <div class="mobile-hide-content__image-wrapper">
          <img width="56" height="56" loading="lazy" src="images/basket/1.jpg" alt="">
        </div>
        <div class="mobile-hide-content__desc">
          <div class="mobile-hide-content__name">Бальзам Живица туба 110 г.</div>
          <div class="mobile-hide-content__quantity">10 шт.</div>
        </div>
        <div class="mobile-hide-content__prices">
          <div class="mobile-hide-content__price">1 100 105 ₽</div>
        </div>
      </a>
',
      '      <div class="mobile-hide-content__total">
        <div>Всего:</div>
        <div class="mobile-hide-content__total-price">8 товаров на <b>2 000 105 ₽</b></div>
      </div>'
    ]
  }
}) }}
