.base-paragraph {
  &_type {
    &_grey {
      p {
        color: var(--color-grey);
      }
    }
  }

  p {
    font-weight: normal;
    font-size: 17px;
    line-height: 1.6;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}
