.base-textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  font-family: inherit;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  outline: none;
  resize: none;

  &::placeholder {
    color: var(--color-grey);
    font-size: 14px;
    line-height: 1.3;
  }

  &:hover {
    border-color: var(--color-green);
  }

  &:disabled {
    opacity: 0.9;
  }
}
