body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-black);
  font-size: 17px;
  font-family: var(--font-family-main);
  line-height: 1.3;
  background-color: var(--color-bg-grey);
}

html {
  scroll-behavior: smooth;
}
