:root {
  --font-family-main: 'Acrom', sanf-serif;
  --color-black: #4a4a4a;
  --color-green: #98c33b;
  --color-red: #e03232;
  --color-grey: #797979;
  --color-bg-white: #fdfdfd;
  --color-bg-grey: #f3f3f3;
  --color-bg-green: #a4c067;
  --title-color-primary: var(--color-black);
  --title-color-secondary: var(--color-green);
}
