<div class='product-info'>
  <div class='product-info__top'>
    <div class='product-info__title-wrapper'>
      <a href='#!' class='product-info__title a-clear'>Луковицы лилии Йеллоу Даймонд</a>
      <div class='product-info__subtitle-wrapper'>
        <div class='product-info__availability'>
          {{ component('availability', {
            stock: 'В наличии (23)'
          }) }}
        </div>
        <div class='product-info__watch'>Сейчас смотрит 23 чел.</div>
      </div>
    </div>
    <div class='product-info__inner'>
      <div class='product-info__prices'>
        <div class='product-info__price-wrapper'>
          <div class='product-info__price product-info__price_old'>2 111 105 ₽</div>
          <div class='product-info__price product-info__price_new'>1 111 105 ₽</div>
        </div>
        <div class='product-info__profit'>
          <div>Выгода: 50%</div>
          <div>1 000 рублей</div>
        </div>
      </div>
      <div class='product-info__calculate'>
        {{ component('calculate') }}
      </div>
      <button class='btn btn_type_secondary product-info__btn product-info__btn_type_cart'>
        <svg width="24" height="22">
          <use xlink:href='sprite.svg#cart'></use>
        </svg>
        <span>В корзину</span>
      </button>
      <div class='product-info__buttons'>
        {{ component('favorite-button') }}
        <button class='btn product-info__btn product-info__btn_type_share'>
          <svg width="26" height="26">
            <use xlink:href='sprite.svg#share'></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class='product-info__bottom'>
    <div class='product-info__bottom-item'>
      <div class='product-info__bottom-title'>
        <svg width="20" height="20">
          <use xlink:href='sprite.svg#box'></use>
        </svg>
        <span>Доставка</span>
      </div>
      <div class='product-info__bottom-desc'>Стоимость адресной доставки - <span>300 ₽</span></div>
    </div>
    <div class='product-info__bottom-item'>
      <div class='product-info__bottom-title'>
        <svg width="20" height="20">
          <use xlink:href='sprite.svg#credit-card'></use>
        </svg>
        <span>Оплата</span>
      </div>
      <div class='product-info__bottom-desc'>Оплата картами VISA,MASTERCART и МИРА при получении товара.</div>
    </div>
  </div>
</div>
