.block-text {
  &__inner {
    display: flex;
    grid-gap: 30px;
  }

  &__img-wrapper {
    display: flex;
    flex-shrink: 0;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      background-color: var(--color-bg-grey);
    }
  }

  &__text {
    margin-top: 25px;
    color: #828282;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.6;
  }

  @media (max-width: 768px) {
    &__img-wrapper {
      max-width: 350px;
    }

    &__text {
      font-size: 14px;
    }
  }

  @media (max-width: 660px) {
    &__img-wrapper {
      max-width: 260px;
    }
  }

  @media (max-width: 600px) {
    &__inner {
      flex-direction: column-reverse;
      grid-gap: 16px;
    }

    &__img-wrapper {
      max-width: none;
    }
  }
}
