.main-slider {
  --font-color: #fff;

  margin-top: 25px;
  padding-bottom: 10px;

  &__swiper-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 400px;

    &_color {
      &_primary {
        --font-color: #5f6f3c;
      }

      &_secondary {
        --font-color: #8f7d44;
      }
    }
  }

  &__picture {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 4px 4px 0 0;

    img {
      width: 100%;
      object-fit: cover;
      background-color: var(--color-bg-grey);
    }
  }

  &__content {
    position: absolute;
    left: 0;
    max-width: 591px;
    padding: 0 40px;
  }

  &__title {
    margin: 0;
    padding: 0;
    color: var(--font-color);
    font-weight: 800;
    font-size: 42px;
    line-height: 1.2;
  }

  &__subtitle {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: var(--font-color);
    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;
  }

  &__sale {
    margin-left: 10px;
  }

  &__btn {
    margin-top: 40px;

    svg {
      margin-left: 12px;
    }
  }

  &__btn-down {
    position: absolute;
    bottom: 32px;
    z-index: 10;
    padding: 0;
    color: #798c4f;
    background-color: transparent;
    border: none;
    cursor: pointer;
    animation: bounce 1s infinite linear;

    &:hover {
      opacity: 0.7;
    }
  }

  &__benefits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-sizing: border-box;
    padding: 0 32px;
    background-color: #fdfdfd;
    border: 0.5px solid #e9e9e9;
    border-top: none;
    border-radius: 0 0 4px 4px;
  }

  &__benefit {
    display: flex;
    align-items: center;
    padding: 20px 22px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &:not(:last-child) {
      border-right: 1px solid #e9e9e9;
    }
  }

  &__benefit-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 50px;
    background: #f3f3f3;
    border-radius: 4px;

    img {
      max-width: 34px;
      height: auto;
      background-color: var(--color-bg-grey);
    }
  }

  &__benefit-title {
    margin-left: 10px;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.3;
  }

  @media (max-width: 800px) {
    &__benefits {
      padding: 0 20px;
    }

    &__benefit-title {
      font-size: 14px;
    }
  }

  @media (max-width: 768px) {
    margin-top: 15px;
    padding-bottom: 0;

    &__title {
      font-size: 20px;
    }

    &__subtitle {
      margin-top: 12px;
      font-size: 14px;
    }

    &__btn {
      margin-top: 20px;

      svg {
        width: 9px;
      }
    }

    &__btn-down {
      display: none;
    }

    &__benefits {
      grid-template-columns: repeat(2, 1fr);
      padding: 0;
    }

    &__benefit {
      padding: 16px 13px;

      &:first-child {
        padding-left: 13px;
        border-bottom: 1px solid #e9e9e9;
      }

      &:nth-child(2) {
        border-right: none;
        border-bottom: 1px solid #e9e9e9;
      }

      &:last-child {
        padding-right: 13px;
      }
    }
  }

  @media (max-width: 600px) {
    &__content {
      max-width: 300px;
      padding: 0 24px;
    }

    &__item {
      height: 210px;
      min-height: auto;

      img {
        height: auto;
      }
    }
  }

  @media (max-width: 425px) {
    &__benefit-img-wrapper {
      min-width: 30px;
      height: 30px;

      img {
        max-width: 20px;
      }
    }
  }

  @media (max-width: 375px) {
    &__benefit {
      padding: 10px;
    }

    &__benefit-title {
      font-size: 12px;
    }
  }
}

@keyframes bounce {
  from {
    bottom: 42px;
  }

  50% {
    bottom: 32px;
  }

  to {
    bottom: 42px;
  }
}
