.popular {
  &__title {
    text-align: center;
  }

  &__sections {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
  }

  @media (max-width: 768px) {
    &__container {
      grid-template-columns: 1fr;
    }

    &__sections {
      grid-gap: 8px;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 24px;
    }
  }
}
