.product-grid {
  &__inner {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
  }

  @media (max-width: 768px) {
    &__inner {
      grid-gap: 9px;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 24px;
    }
  }

  @media (max-width: 560px) {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
