.sale-display {
  margin: 15px 0 120px;

  &__filter-wrapper {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 24px;
  }

  &__filter-btn {
    justify-content: space-between;
    padding: 9px 20px;
  }

  &__filter {
    grid-column: 2/-1;
  }

  &__cards {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 15px;
  }

  &__more-wrapper {
    margin-top: 30px;
    text-align: center;

    .btn {
      padding: 13px 38px;
    }
  }

  &__pagination {
    margin-top: 40px;
  }

  @media (max-width: 768px) {
    &__filter-wrapper {
      grid-template-columns: repeat(1, 1fr);
    }

    &__filter-btn {
      display: none;
    }

    &__filter {
      grid-column: auto;
    }

    &__cards {
      grid-gap: 8px;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 8px;
    }

    &__pagination {
      margin-top: 24px;
    }
  }

  @media (max-width: 425px) {
    &__more-wrapper {
      display: flex;
      margin-top: 24px;

      .btn {
        width: 100%;
        padding: 13px;
      }
    }
  }
}
