{%- from 'system/component.njk' import component %}

<div class='article'>
  <div class='container'>
    <div class='title title_type_primary'>Статья</div>
    <div class='article__inner'>
      <div class='article__content'>
        <div class='article__text base-paragraph'>
          <p>С учётом сложившейся международной обстановки, дальнейшее развитие различных форм деятельности не
            даёт нам иного выбора, кроме определения своевременного выполнения сверхзадачи. Есть над чем
            задуматься: базовые сценарии поведения пользователей набирают популярность среди определенных слоев
            населения, а значит, должны быть подвергнуты целой серии независимых исследований. Принимая во
            внимание показатели успешности, семантический разбор внешних противодействий, в своём классическом
            представлении, допускает внедрение дальнейших направлений развития.</p>

          <p>Элементы политического процесса и по сей день остаются уделом либералов, которые жаждут быть
            объективно рассмотрены соответствующими инстанциями. С другой стороны, разбавленное изрядной долей
            эмпатии, рациональное мышление однозначно определяет каждого участника как способного принимать
            собственные решения касаемо первоочередных требований. Идейные соображения высшего порядка, а также
            постоянный количественный рост и сфера нашей активности требует определения и уточнения укрепления
            моральных ценностей. Банальные, но неопровержимые выводы, а также базовые сценарии поведения
            пользователей функционально разнесены на независимые элементы.</p>
        </div>
        <div class='article__video'>
          {{ component('video', {
            options: {
              src: 'https://www.youtube.com/watch?v=z2X2HaTvkl8',
              image: "images/video/1.jpg",
              width: 870,
              height: 500
            }
          }) }}
        </div>
        <div class='article__text base-paragraph'>
          <p>С учётом сложившейся международной обстановки, дальнейшее развитие различных форм деятельности не
            даёт нам иного выбора, кроме определения своевременного выполнения сверхзадачи. Есть над чем
            задуматься: базовые сценарии поведения пользователей набирают популярность среди определенных слоев
            населения, а значит, должны быть подвергнуты целой серии независимых исследований. Принимая во
            внимание показатели успешности, семантический разбор внешних противодействий, в своём классическом
            представлении, допускает внедрение дальнейших направлений развития.</p>

          <p>Элементы политического процесса и по сей день остаются уделом либералов, которые жаждут быть
            объективно рассмотрены соответствующими инстанциями. С другой стороны, разбавленное изрядной долей
            эмпатии, рациональное мышление однозначно определяет каждого участника как способного принимать
            собственные решения касаемо первоочередных требований. Идейные соображения высшего порядка, а также
            постоянный количественный рост и сфера нашей активности требует определения и уточнения укрепления
            моральных ценностей. Банальные, но неопровержимые выводы, а также базовые сценарии поведения
            пользователей функционально разнесены на независимые элементы.</p>
        </div>
        <div class='article__images-wrapper'>
          <a href='images/video/1.jpg' data-fancybox='article-image' class='a-clear article__img-wrapper'><img loading="lazy"  width='422' height='250' src='images/video/1.jpg' alt=''></a>
          <a href='images/video/1.jpg' data-fancybox='article-image' class='a-clear article__img-wrapper'><img loading="lazy"  width='422' height='250' src='images/video/1.jpg' alt=''></a>
        </div>
        <div class='article__text base-paragraph'>
          <p>С учётом сложившейся международной обстановки, дальнейшее развитие различных форм деятельности не
            даёт нам иного выбора, кроме определения своевременного выполнения сверхзадачи. Есть над чем
            задуматься: базовые сценарии поведения пользователей набирают популярность среди определенных слоев
            населения, а значит, должны быть подвергнуты целой серии независимых исследований. </p>
        </div>
        <div class='article__cards'>
          {% for item in params.cards %}
            {{ component('product-card', {
              options: item
            }) }}
          {% endfor %}
        </div>
        <div class='article__text base-paragraph'>
          <p>С учётом сложившейся международной обстановки, дальнейшее развитие различных форм деятельности не
            даёт нам иного выбора, кроме определения своевременного выполнения сверхзадачи. Есть над чем
            задуматься: базовые сценарии поведения пользователей набирают популярность среди определенных слоев
            населения, а значит, должны быть подвергнуты целой серии независимых исследований. Принимая во
            внимание показатели успешности, семантический разбор внешних противодействий, в своём классическом
            представлении, допускает внедрение дальнейших направлений развития.</p>

          <p>Элементы политического процесса и по сей день остаются уделом либералов, которые жаждут быть
            объективно рассмотрены соответствующими инстанциями. С другой стороны, разбавленное изрядной долей
            эмпатии, рациональное мышление однозначно определяет каждого участника как способного принимать
            собственные решения касаемо первоочередных требований. Идейные соображения высшего порядка, а также
            постоянный количественный рост и сфера нашей активности требует определения и уточнения укрепления
            моральных ценностей. Банальные, но неопровержимые выводы, а также базовые сценарии поведения
            пользователей функционально разнесены на независимые элементы.</p>
        </div>
        <div class='article__cards article__cards_vertical'>
          {% for item in params.cards %}
            {{ component('product-card-row', {
              type: 'catalog',
              options: item
            }) }}
          {% endfor %}
        </div>
        <div class='article__text base-paragraph'>
          <p>С учётом сложившейся международной обстановки, дальнейшее развитие различных форм деятельности не
            даёт нам иного выбора, кроме определения своевременного выполнения сверхзадачи. Есть над чем
            задуматься: базовые сценарии поведения пользователей набирают популярность среди определенных слоев
            населения, а значит, должны быть подвергнуты целой серии независимых исследований. Принимая во
            внимание показатели успешности, семантический разбор внешних противодействий, в своём классическом
            представлении, допускает внедрение дальнейших направлений развития.</p>

          <p>Элементы политического процесса и по сей день остаются уделом либералов, которые жаждут быть
            объективно рассмотрены соответствующими инстанциями. С другой стороны, разбавленное изрядной долей
            эмпатии, рациональное мышление однозначно определяет каждого участника как способного принимать
            собственные решения касаемо первоочередных требований. Идейные соображения высшего порядка, а также
            постоянный количественный рост и сфера нашей активности требует определения и уточнения укрепления
            моральных ценностей. Банальные, но неопровержимые выводы, а также базовые сценарии поведения
            пользователей функционально разнесены на независимые элементы.</p>
        </div>
      </div>
      <div class='article__aside'>
        {{ component('side-menu', {
          title: "Другие статьи",
          list: [
            {text: "Статья 1", active: true},
            {text: "Статья в две строки в две строки"},
            {text: "Избранное"},
            {text: "История заказов"},
            {text: "Персональные скидки"},
            {text: "Подписка на рассылки"}
          ]
        }) }}
      </div>
    </div>
  </div>
</div>
