<div class='block-text'>
  <div class='container'>
    <div class='block-text__inner'>
      <div class='block-text__img-wrapper'>
        <img loading="lazy"  width='370' height='386' src='images/block-text/1.jpg' alt=''>
      </div>
      <div class='block-text__content'>
        <div class='title title_type_primary'>Блок с текстом</div>
        <div class='block-text__text'>
          Скидка на 50 наименований продукции! Только сейчас и только у нас!Скидка на 50 наименований продукции!
          Только сейчас и только у нас!Скидка на 50 наименований продукции! Только сейчас и только у нас!Скидка на
          50 наименований продукции! Только сейчас и только у нас!Скидка на 50 наименований продукции! Только
          сейчас и только у нас!Скидка на 50 наименований продукции! Только сейчас и только у нас!Скидка на 50
          наименований продукции! Только сейчас и только у нас!Скидка на 50 наименований продукции! Только сейчас
          и только у нас!Скидка на 50 наименований продукции! Только сейчас и только у нас!Скидка на 50
        </div>
      </div>
    </div>
  </div>
</div>
