<div class='bread-crumbs'>
  <div class='container'>
    <nav>
      <ul class='bread-crumbs__container ul-clear'>
        {% for item in params.crumbs %}
          <li class='bread-crumbs__item'><a href='#!' class='a-clear'>{{ item }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
