{%- from "system/component.njk" import component -%}

<div class='cart-header'>
  <div class='container'>
    <div class='cart-header__inner'>
      <a href='#!' class='cart-header__logo a-clear'>
        <img loading="lazy"  width='179' height='45' src='images/logo.svg' alt=''>
      </a>
      <div class='cart-header__come-back'>
        {{ component('come-back') }}
      </div>
    </div>
  </div>
</div>
