{%- from "system/component.njk" import component -%}

<div class='cart'>
  <div class='container'>
    <div class='cart__title-wrapper'>
      <div class='title title_type_primary'>Корзина</div>
      <button class='btn btn_type_secondary'>Перейти к оплате</button>
    </div>
    <div class='cart__items'>
      {% for item in params.cards %}
        <div class='cart__item'>
          {{ component('product-card-row', {
            type: 'cart',
            options: item
          }) }}
        </div>
      {% endfor %}
    </div>
    <div class='cart__total-wrapper'>
      <div class='cart__total-item'>
        <div class='cart__total-title'>Итого 19 товаров:</div>
        <div class='cart__total-price'>11 111 999 р.</div>
      </div>
      <div class='cart__total-item'>
        <div class='cart__total-title cart__total-title_hide'>Промокод:</div>
        <div class='cart__promo-wrapper'>
          <div class='cart__promo-applied active'>
            Промокод <span>FGRVFDF</span> применен
          </div>
          <div class='cart__promo'>
            {{ component('base-input', {
              placeholder: 'Введите код промокода',
              class: "cart__label"
            }) }}
            <button class='btn btn_type_primary cart__promo-btn'>Применить</button>
          </div>
        </div>
      </div>
    </div>
    <div class='cart__pay'>
      <div class='cart__pay-comeback'>
        {{ component('come-back') }}
      </div>
      <button class='btn btn_type_secondary cart__pay-btn'>Перейти к оплате</button>
    </div>
    <div class='cart__shipping'>
      <div class='title title_type_primary'>Доставка и оплата</div>
      <div class='cart__shipping-text base-paragraph base-paragraph_type_grey'>
        <p>С учётом сложившейся международной обстановки, дальнейшее развитие различных форм деятельности не
          даёт нам иного выбора, кроме определения своевременного выполнения сверхзадачи. Есть над чем
          задуматься: базовые сценарии поведения пользователей набирают популярность среди определенных слоев
          населения, а значит, должны быть подвергнуты целой серии независимых исследований. Принимая во
          внимание показатели успешности, семантический разбор внешних противодействий, в своём классическом
          представлении, допускает внедрение дальнейших направлений развития.</p>

        <p>Элементы политического процесса и по сей день остаются уделом либералов, которые жаждут быть
          объективно рассмотрены соответствующими инстанциями. С другой стороны, разбавленное изрядной долей
          эмпатии, рациональное мышление однозначно определяет каждого участника как способного принимать
          собственные решения касаемо первоочередных требований. Идейные соображения высшего порядка, а также
          постоянный количественный рост и сфера нашей активности требует определения и уточнения укрепления
          моральных ценностей. Банальные, но неопровержимые выводы, а также базовые сценарии поведения
          пользователей функционально разнесены на независимые элементы.</p>
      </div>
    </div>
  </div>
</div>
