{%- from 'system/component.njk' import component %}

<div class='catalog'>
  <div class='container'>
    <div class='title title_type_primary'>Каталог</div>
    <div class='catalog__inner'>
      {% for item in params.items %}
        {{ component('catalog-block', {
          options: item
        }) }}
      {% endfor %}
    </div>
  </div>
</div>
