{%- from "system/component.njk" import component -%}

<div class='catalog-filter'>
  <div class='container'>
    <div class='catalog-filter__inner'>
      <div class='catalog-filter__filters'>
        {{ component('filters') }}
      </div>
      <div class='catalog-filter__contents'>
        <div class='catalog-filter__contents-header'>
          {% if params.types %}
            <div class='catalog-filter__type-plants'>
              {{ component('type-plants', {
                types: params.types
              }) }}
            </div>
          {% endif %}
          <div class='catalog-filter__filter-bar'>
            {{ component('filter-bar', {
              show: true
            }) }}
          </div>
          <div class='catalog-filter__desc'>
            Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности в
            значительной степени обуславливает создание существенных финансовых и административных условий. С другой
            стороны рамки и место обучения кадров позволяет оценить значение существенных
          </div>
        </div>
        {% if params.vertical %}
          <div class='catalog-filter__cards catalog-filter__cards_vertical'>
            {% for card in params.cards %}
              {{ component('product-card-row', {
                type: "catalog",
                options: card
              }) }}
            {% endfor %}
          </div>
        {% else %}
          <div class='catalog-filter__cards'>
            {% for card in params.cards %}
              {{ component('product-card', {
                options: card
              }) }}
            {% endfor %}
          </div>
        {% endif %}
        <div class='catalog-filter__contents-footer'>
          <div class='catalog-filter__more'>
            <button class='btn btn_type_primary catalog-filter__more-btn'>Показать еще (20)</button>
          </div>
          {% if params.pagination %}
            <div class='catalog-filter__pagination'>
              {{ component('pagination') }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% if params.article %}
      <div class='catalog-filter__article'>
        <div class='title title_type_primary'>{{ params.article.title }}</div>
        <div class='catalog-filter__article-text'>
          {{ params.article.text }}
        </div>
      </div>
    {% endif %}
  </div>
</div>

