<div class='complete'>
  <div class='container'>
    <div class='complete__inner'>
      <div class='complete__img-wrapper'><img loading="lazy"  width='378' height='342' src='images/complete.png' alt=''></div>
      <div class='title title_type_primary'>Спасибо за покупку!</div>
      <div class='complete__order'>Номер заказа: <b>787898</b></div>
      <button class='btn btn_type_secondary complete__btn'>Перейти к статусу заказа</button>
    </div>
  </div>
</div>
