{%- from "system/component.njk" import component %}

<div class='contacts'>
  <div class='container'>
    <div class='title title_type_primary'>Контакты</div>
    <div class='contacts__items'>
      <div class='contacts__item'>
        <div class='contacts__title'>
          <svg width='21' height='21'>
            <use xlink:href='sprite.svg#location'></use>
          </svg>
          <span>Центральный офис</span>
        </div>
        <div class='contacts__text'>
          Московская область, городской округ Красногорск, 10км от МКАД по Ильинскому шоссе в сторону области, деревня
          Ильинское-Усово
        </div>
      </div>
      <div class='contacts__item'>
        <div class='contacts__title'>
          <svg width='21' height='21'>
            <use xlink:href='sprite.svg#ant-phone'></use>
          </svg>
          <span>Наши контакты</span>
        </div>
        <div class='contacts__text-wrapper'>
          <div class='contacts__text'>
            <a href='tel:84953745728' class='contacts__text a-clear'>8 (495) 374 57 28</a>
            <span>- телефон тех. поддержки</span>
          </div>
          <div class='contacts__text'>
            <a href='tel:84953745728' class='contacts__text a-clear'>8 (495) 374 57 28</a>
            <span>- телефон 2</span>
          </div>
          <div class='contacts__text'>
            <a href='tel:84953745728' class='contacts__text a-clear'>8 (495) 374 57 28</a>
            <span>- телефон 3</span>
          </div>

        </div>
      </div>
      <div class='contacts__item'>
        <div class='contacts__title'>
          <svg width="21" height="21">
            <use xlink:href='sprite.svg#book'></use>
          </svg>
          <span>Юридич. информация</span>
        </div>
        <div class='contacts__text-wrapper'>
          <div class='contacts__text'><b>Юр. название компании ECOPLANT</b></div>
          <div class='contacts__text'>49000, Московская область, городской округ Красногорск, 10км от МКАД по Ильинскому
            шоссе в сторону области, деревня Ильинское-Усово
          </div>
        </div>
      </div>
      <div class='contacts__item'>
        <div class='contacts__title'>
          <svg width='21' height='21'>
            <use xlink:href='sprite.svg#clock'></use>
          </svg>
          <span>Время работы</span>
        </div>
        <div class='contacts__text'>Вы можете сделать заказ круглосуточно</div>
      </div>
      <div class='contacts__item'>
        <div class='contacts__title'>
          <svg width='21' height='21'>
            <use xlink:href='sprite.svg#mail'></use>
          </svg>
          <span>Электронная почта</span>
        </div>
        <a href='mailto:info@eco-plant.ru' class='contacts__text a-clear'>info@eco-plant.ru</a>
      </div>
      <div class='contacts__item'>
        <div class='contacts__title'>
          <span>Наши соц.сети</span>
        </div>
        <div class='contacts__our-socials'>
          {{ component('our-socials', {
            white: true
          }) }}
        </div>
      </div>
      <div class='contacts__item contacts__item_map'>
        <div class='title title_type_primary'>Карта</div>
        <div class='contacts__map-wrapper'>
          <div class='contacts__map'>
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aba86cedeb271ae6893d0e2b4ac73ac47a8a8eb96ace68d4f8abb9aae2e0323d0&amp;width=100%25&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script>
          </div>
            <a href="#tour" data-fancybox class='contacts__tour'>
              <img loading="lazy" width="370" height="200"  src="images/tour.jpg" alt="">
            </a>
          <div class='contacts__scheme'>
            <img loading="lazy"  width='370' height='200' src='images/scheme.jpg' alt=''>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="tour" class="contacts__tour-frame" hidden>
  <iframe src="https://yandex.ru/map-widget/v1/-/CKQ6fDJR" border="0" style="width:100%;height:100%;"></iframe>
</div>
