{%- from 'system/component.njk' import component -%}

<div class='favorite'>
  <div class='container'>
    <div class='title title_type_primary'>Избранное</div>
    <div class='favorite__banner'>
      <div class='favorite__banner-title'>Выберете товар</div>
      <div class='favorite__banner-img-wrapper'>
        <img loading="lazy"  src='images/favorite-stripes.svg' alt=''>
      </div>
    </div>
    <div class='favorite__inner'>
      <div class='favorite__filter-bar'>
        {{ component('filter-bar') }}
      </div>
      {% for card in params.cards %}
        <div class='favorite__item'>
          {{ component('product-card-row', {
            type: "catalog",
            options: card
          }) }}
        </div>
      {% endfor %}
      <div class='favorite__button-wrapper'>
        <button class='btn btn_type_primary favorite__btn'>Показать еще (20)</button>
      </div>
    </div>
  </div>
</div>
