<div class='last-block {{ 'js-change-image' if params.options.greyImage }}'>
  <div class='container'>
    <div class='last-block__inner'>
      <div class='last-block__img-wrapper'>
        <img loading="lazy"  class='last-block__image js-change-image__pic {{ 'grey' if params.options.greyImage }}'
             width='{{ params.options.width }}' height='{{ params.options.height }}'
             src='{{ params.options.image }}' alt=''>
      </div>
      <div class='title title_type_primary last-block__title'>{{ params.options.title }}</div>
      <div class='last-block__subtitle'>{{ params.options.subtitle | safe }}</div>
      <div class='last-block__btn-wrapper'>
        {% if params.options.btnPrimary %}
          <button class='btn btn_type_primary last-block__btn'>{{ params.options.btnPrimary }}</button>
        {% endif %}
        <button
          class='btn btn_type_secondary last-block__btn js-change-image__btn'>{{ params.options.btnSecondary }}</button>
      </div>
    </div>
  </div>
</div>
