{%- from "system/component.njk" import component -%}

<div class='main-slider'>
  <div class='container'>
    <div class='main-slider__container'>
      <div class='main-slider__swiper-wrapper slider slider_type_main' data-swiper-type='main'>
        <div class='swiper main-slider__swiper'>
          <div class='swiper-wrapper'>
            <div class='swiper-slide'>
              <div class='main-slider__item main-slider__item_color_primary'>
                <picture class='main-slider__picture'>
                  <source media='(max-width: 599px)' srcset='images/main-slider/1-sm.jpg'>
                  <source media='(min-width: 600px)' srcset='images/main-slider/1.jpg'>
                  <img loading="lazy"  width='1170' height='450' src='images/main-slider/1.jpg' alt='Дерево'>
                </picture>
                <div class='main-slider__content'>
                  <div class='main-slider__title'>
                    Саженцы на прямую из питомника без посредников и предоплат
                  </div>
                  <div class='main-slider__subtitle'>Без посредников и предоплат</div>
                  <button class='btn btn_type_secondary main-slider__btn'>
                    <span>Перейти в каталог</span>
                    <svg width="11" height="18">
                      <use xlink:href='sprite.svg#arrow-down'></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div class='swiper-slide'>
              <div class='main-slider__item main-slider__item_color_secondary'>
                <picture class='main-slider__picture'>
                  <source media='(max-width: 599px)' srcset='images/main-slider/2-sm.jpg'>
                  <source media='(min-width: 600px)' srcset='images/main-slider/2.jpg'>
                  <img loading="lazy"  width='1170' height='450' src='images/main-slider/1.jpg' alt='Дерево'>
                </picture>
                <div class='main-slider__content'>
                  <div class='main-slider__title'>
                    Старт весенних посадок!
                  </div>
                  <div class='main-slider__subtitle'>
                    <span>Скидка на саженцы</span>
                    <div class='main-slider__sale'>
                      {{ component('sale-label', {
                        sale: "-90%",
                        type: 'secondary'
                      }) }}
                    </div>
                  </div>
                  <button class='btn btn_type_secondary main-slider__btn'>
                    <span>Перейти в каталог</span>
                    <svg width="11" height="18">
                      <use xlink:href='sprite.svg#arrow-down'></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div class='swiper-slide'>
              <div class='main-slider__item main-slider__item_color_primary'>
                <picture class='main-slider__picture'>
                  <source media='(max-width: 599px)' srcset='images/main-slider/3-sm.jpg'>
                  <source media='(min-width: 600px)' srcset='images/main-slider/3.jpg'>
                  <img loading="lazy"  width='1170' height='450' src='images/main-slider/1.jpg' alt='Дерево'>
                </picture>
                <div class='main-slider__content'>
                  <div class='main-slider__title'>
                    Старт весенних посадок!
                  </div>
                  <div class='main-slider__subtitle'>
                    <span>Скидка на саженцы</span>
                    <div class='main-slider__sale'>
                      {{ component('sale-label', {
                        sale: "-90%",
                        type: 'primary'
                      }) }}
                    </div>
                  </div>
                  <button class='btn btn_type_secondary main-slider__btn'>
                    <span>Перейти в каталог</span>
                    <svg width="11" height="18">
                      <use xlink:href='sprite.svg#arrow-down'></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{ component('btn-arrows') }}
        <a href='#popular' class='a-clear main-slider__btn-down'>
          <svg width="22" height="34">
            <use xlink:href='sprite.svg#arrow-down'></use>
          </svg>
        </a>
      </div>
      <div class='main-slider__benefits'>
        <div class='main-slider__benefit'>
          <div class='main-slider__benefit-img-wrapper'><img loading="lazy"  width="34" height="30" src='images/benefits/car.svg'
                                                             alt=''></div>
          <div class='main-slider__benefit-title'>Доставляем по всей РФ</div>
        </div>
        <div class='main-slider__benefit'>
          <div class='main-slider__benefit-img-wrapper'><img loading="lazy"  width="32" height="32" src='images/benefits/hands.svg'
                                                             alt=''></div>
          <div class='main-slider__benefit-title'>Напрямую из питомника</div>
        </div>
        <div class='main-slider__benefit'>
          <div class='main-slider__benefit-img-wrapper'><img loading="lazy"  width="34" height="32" src='images/benefits/ecology.svg'
                                                             alt=''></div>
          <div class='main-slider__benefit-title'>Растения без посредников</div>
        </div>
        <div class='main-slider__benefit'>
          <div class='main-slider__benefit-img-wrapper'><img loading="lazy"  width="30" height="30"
                                                             src='images/benefits/global-warming.svg' alt=''></div>
          <div class='main-slider__benefit-title'>Подходят под рос. климат</div>
        </div>
      </div>
    </div>
  </div>
</div>
