{%- from "system/component.njk" import component -%}

<div class='news'>
  <div class='container'>
    <div class='title title_type_primary news__title'>Новости</div>
    <div class='news__slider-wrapper slider slider_type_primary' data-swiper-type='freeMode'>
      <div class='swiper news__slider'>
        <div class='swiper-wrapper'>
          <div class='swiper-slide'>
            <a href="#!" class='a-clear news__item'>
              <div class='news__img-wrapper '>
                <img loading="lazy"  width='270' height='200' src='images/news/1.jpg' alt=''>
              </div>
              <div class='news__content'>
                <div class='news__name '>Заголовок новости номер один</div>
                <div class='news__text'>
                  Гортензия метельчатая "Лаймлайт" (Limelight) — ЗНАМЕНИТЫЙ на весь мир сорт
                </div>
              </div>
            </a>
          </div>
          <div class='swiper-slide'>
            <a href="#!" class='a-clear news__item'>
              <div class='news__img-wrapper '>
                <img loading="lazy"  width='270' height='200' src='images/news/1.jpg' alt=''>
              </div>
              <div class='news__content'>
                <div class='news__name '>Заголовок новости номер один</div>
                <div class='news__text'>
                  Гортензия метельчатая "Лаймлайт" (Limelight) — ЗНАМЕНИТЫЙ на весь мир сорт
                </div>
              </div>
            </a>
          </div>
          <div class='swiper-slide'>
            <a href="#!" class='a-clear news__item'>
              <div class='news__img-wrapper '>
                <img loading="lazy"  width='270' height='200' src='images/news/1.jpg' alt=''>
              </div>
              <div class='news__content'>
                <div class='news__name '>Заголовок новости номер один</div>
                <div class='news__text'>
                  Гортензия метельчатая "Лаймлайт" (Limelight) — ЗНАМЕНИТЫЙ на весь мир сорт
                </div>
              </div>
            </a>
          </div>
          <div class='swiper-slide'>
            <a href="#!" class='a-clear news__item'>
              <div class='news__img-wrapper '>
                <img loading="lazy"  width='270' height='200' src='images/news/1.jpg' alt=''>
              </div>
              <div class='news__content'>
                <div class='news__name '>Заголовок новости номер один</div>
                <div class='news__text'>
                  Гортензия метельчатая "Лаймлайт" (Limelight) — ЗНАМЕНИТЫЙ на весь мир сорт
                </div>
              </div>
            </a>
          </div>
          <div class='swiper-slide'>
            <a href="#!" class='a-clear news__item'>
              <div class='news__img-wrapper '>
                <img loading="lazy"  width='270' height='200' src='images/news/1.jpg' alt=''>
              </div>
              <div class='news__content'>
                <div class='news__name '>Заголовок новости номер один</div>
                <div class='news__text'>
                  Гортензия метельчатая "Лаймлайт" (Limelight) — ЗНАМЕНИТЫЙ на весь мир сорт
                </div>
              </div>
            </a>
          </div>
          <div class='swiper-slide'>
            <a href="#!" class='a-clear news__item'>
              <div class='news__img-wrapper '>
                <img loading="lazy"  width='270' height='200' src='images/news/1.jpg' alt=''>
              </div>
              <div class='news__content'>
                <div class='news__name '>Заголовок новости номер один</div>
                <div class='news__text'>
                  Гортензия метельчатая "Лаймлайт" (Limelight) — ЗНАМЕНИТЫЙ на весь мир сорт
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      {{ component('btn-arrows') }}
    </div>
  </div>
</div>
