{%- from "system/component.njk" import component %}

<div class='order'>
  <div class='container'>
    <div class='title title_type_primary order__title'>Оформление заказа</div>
    <div class='order__inner'>
      <div class='order__contact'>
        <div class='title title_type_secondary'>01. Контактные данные</div>
        <div class='order__contact-inner'>
          {{ component('base-field-input', {
            items: [
              { placeholder: "ФИО" },
              { placeholder: "Телефон", type: 'tel' },
              { placeholder: "Электронная почта" }
            ]
          }) }}
          <textarea class='base-textarea order__textarea'
                    placeholder='Комментарий к заказу (необязательно)'></textarea>
        </div>
      </div>
      <div class='order__delivery-terms'>
        <div class='order__delivery-item'>
          <div class='title title_type_secondary'>02. Доставка</div>
          <div class='order__buttons-group'>
            <div class='order__btn-wrapper'>
              <input id='door' name='delivery' value='door' type='radio' class='order__radio' checked />
              <label for='door' class='order__btn'>
                <svg width="24" height="24">
                  <use xlink:href='sprite.svg#credit-card-front'></use>
                </svg>
                <span>До дверей</span>
              </label>
            </div>
            <div class='order__btn-wrapper'>
              <input id='point' name='delivery' value='point' type='radio' class='order__radio' />
              <label for='point' class='order__btn'>
                <svg width="24" height="24">
                  <use xlink:href='sprite.svg#box-open'></use>
                </svg>
                <span>К пункту выдачи</span>
              </label>
            </div>
            <div class='order__delivery-input-wrapper'>
              <input type='text' placeholder='Выберите ваш город' class='base-input '>
            </div>
            <div class='order__delivery-total-wrapper'>
              <div class='order__delivery-total-title '>Срок доставки:</div>
              <div class='order__delivery-total-count'>6 дней</div>
            </div>
            <div class='order__delivery-total-wrapper'>
              <div class='order__delivery-total-title '>Итого:</div>
              <div class='order__delivery-total-count'>200 ₽</div>
            </div>
          </div>
        </div>
        <div class='order__delivery-item'>
          <div class='title title_type_secondary'>03. Оплата</div>
          <div class='order__buttons-group'>
            <div class='order__btn-wrapper'>
              <input id='card' name='pay' value='card' type='radio' class='order__radio' checked />
              <label for='card' class='order__btn'>
                <svg width="24" height="24">
                  <use xlink:href='sprite.svg#credit-card-front'></use>
                </svg>
                <span>Картой на сайте</span>
              </label>
            </div>
            <div class='order__btn-wrapper'>
              <input id='receipt' name='pay' value='receipt' type='radio' class='order__radio' />
              <label for='receipt' class='order__btn'>
                <svg width="24" height="24">
                  <use xlink:href='sprite.svg#box-open'></use>
                </svg>
                <span>При получении</span>
              </label>
            </div>
          </div>
        </div>
        <div class='order__map-wrapper'><img loading="lazy"  src='images/map.jpg' alt=''></div>
      </div>
      <div class='order__total-wrapper'>
        <div class='order__total-text'>Итого с учётом доставки:</div>
        <div class='order__total-count'>11 111 999 р.</div>
      </div>
      <div class='order__pay'>
        {{ component('come-back') }}
        <button class='btn btn_type_secondary order__pay-btn'>Оплатить заказ</button>
      </div>
    </div>
  </div>
  <div class='order__complete'>
    {{ block('last-block', {
      options: {
        image: 'images/boxes.png',
        width: '378',
        height: '342',
        title: 'Спасибо за покупку!',
        subtitle: 'Номер заказа: <b>787898</b>',
        btnPrimary: 'Перейти в личный кабинет',
        btnSecondary: 'Отследить статус заказа'
      }
    }) }}
  </div>
</div>
