{%- from "system/component.njk" import component -%}

<div class='our-reviews'>
  <div class='container'>
    <div class='title title_type_primary our-reviews__title'>Наши отзывы</div>
    <div class='our-reviews__slider slider slider_type_secondary' data-swiper-type='secondary'>
      <div class='swiper'>
        <div class='swiper-wrapper'>
          {% for item in params.reviews %}
            <div class='swiper-slide our-reviews__slide'>
              {{ component('review', {
                options: item
              }) }}
            </div>
          {% endfor %}
        </div>
      </div>
      {{ component('btn-arrows') }}
    </div>
  </div>
</div>
