{%- from 'system/component.njk' import component -%}

<div class='popular' id='popular'>
  <div class='container'>
    <div class='popular__container'>
      <div class='title title_type_primary popular__title'>Популярные разделы</div>
      <div class='popular__sections'>
        {% for item in params.items %}
          {{ component('catalog-item', {
            options: item
          }) }}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
