{%- from "system/component.njk" import component -%}

<div class='popular-goods'>
  <div class='container'>
    <div class='title title_type_primary popular-goods__title'>{{ params.title }}</div>
    <div class='popular-goods__inner'>
      {% for card in params.cards %}
        {{ component('product-card', {
          options: card
        }) }}
      {% endfor %}
    </div>
    <div class='popular-goods__btn-wrapper'>
      <a href='#!' class='a-clear btn btn_type_primary popular-goods__btn'>Перейти в раздел</a>
    </div>
  </div>
</div>
