{%- from "system/component.njk" import component %}

<div class='product-grid'>
  <div class='container'>
    <div class='title title_type_primary'>{{ params.title }}</div>
    <div class='product-grid__inner'>
      {% for item in params.cards %}
        <div class='product-grid__item'>
          {{ component('product-card', {
            options: item
          }) }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
