<div class='sale-banner'>
  <div class='container'>
    <div class='sale-banner__img-wrapper'>
      <img loading="lazy"  width='960' height='300' src='images/category-sale.jpg' alt=''>
      <div class='sale-banner__content'>
        <div class='title title_type_primary sale-banner__title'>Скидки</div>
        <div class='sale-banner__text'>Скидка на 50 наименований продукции! Только сейчас и только у нас!</div>
      </div>
    </div>
  </div>
</div>
