{%- from "system/component.njk" import component %}

<div class='sale'>
  <div class='container'>
    <div class='title title_type_primary'>Скидки</div>
    <div class='sale__inner'>
      {% for item in params.items %}
        {{ component('sale-item', {
          options: item
        }) }}
      {% endfor %}
    </div>
    <div class='sale__btn-wrapper'>
      <button class='btn btn_type_primary'>Показать еще (20)</button>
    </div>
  </div>
</div>
