{%- from "system/component.njk" import component %}

<div class='sale-text'>
  <div class='container'>
    <div class='base-paragraph base-paragraph_type_grey'>
      <p>Скидка на 50 наименований продукции! Только сейчас и только у нас!Скидка на 50 наименований продукции!
        Только сейчас и только у нас!Скидка на 50 наименований продукции! Только сейчас и только у нас!Скидка на
        50 наименований продукции! Только сейчас и только у нас!Скидка на 50 наименований продукции! Только
        сейчас и только у нас!Скидка на 50 наименований продукции! Только сейчас и только у нас!Скидка на 50
        наименований продукции! Только сейчас и только у нас!Скидка на 50 наименований продукции! Только сейчас
        и только у нас!Скидка на 50 наименований продукции! Только сейчас и только у нас!Скидка на 50
        наименований продукции! Только сейчас и только у нас!Скидка на 50 наименований продукции! Только сейчас
        и только у нас!Скидка на 50 наименований продукции! Только сейчас и только у нас!Скидка на 50
        наименований продукции! Только сейчас и только у нас!Скидка на 50 наименований продукции! Только сейчас
        и только у нас!Скидка на 50 наименований продукции! Только сейчас и только у нас!Скидка на 50
        наименований продукции! Только сейчас и только у нас!</p>

      <p>Скидка на 50 наименований продукции! Только сейчас и только у нас!Скидка на 50 наименований продукции!
        Только сейчас и только у нас!Скидка на 50 наименований продукции! Только сейчас и только у нас!Скидка на
        50 наименований продукции! Только сейчас и только у нас!Скидка на 50 наименований продукции! Только
        сейчас и только у нас!Скидка на 50 наименований продукции! Только сейчас и только у нас!Скидка на 50
        наименований продукции! Только сейчас и только у нас!Скидка на 50 наименований продукции! Только сейчас
        и только у нас!Скидка на 50 наименований продукции! Только сейчас и только у нас!Скидка на 50
        наименований продукции! Только сейчас и только у нас!Скидка на 50 наименований продукции! Только сейчас
        и только у нас!Скидка на 50 наименований продукции! Только сейчас и только у нас!Скидка на 50
        наименований продукции! Только сейчас и только у нас!Скидка на 50 наименований продукции! Только сейчас
        и только у нас!Скидка на 50 наименований продукции! Только сейчас и только у нас!Скидка на 50
        наименований продукции! Только сейчас и только у нас!</p>
    </div>
    <div class='sale-text__video'>
      <div class='sale-text__video-item'>
        {{ component('video', {
          options: {
            src: 'https://www.youtube.com/watch?v=z2X2HaTvkl8',
            image: "images/video/1.jpg",
            width: 570,
            height: 325
          }
        }) }}
      </div>
    </div>
    <div class='base-paragraph base-paragraph_type_grey'>
      <p>С учётом сложившейся международной обстановки, дальнейшее развитие различных форм деятельности не
        даёт нам иного выбора, кроме определения своевременного выполнения сверхзадачи. Есть над чем
        задуматься: базовые сценарии поведения пользователей набирают популярность среди определенных слоев
        населения, а значит, должны быть подвергнуты целой серии независимых исследований. Принимая во
        внимание показатели успешности, семантический разбор внешних противодействий, в своём классическом
        представлении, допускает внедрение дальнейших направлений развития.</p>

      <p>Элементы политического процесса и по сей день остаются уделом либералов, которые жаждут быть
        объективно рассмотрены соответствующими инстанциями. С другой стороны, разбавленное изрядной долей
        эмпатии, рациональное мышление однозначно определяет каждого участника как способного принимать
        собственные решения касаемо первоочередных требований. Идейные соображения высшего порядка, а также
        постоянный количественный рост и сфера нашей активности требует определения и уточнения укрепления
        моральных ценностей. Банальные, но неопровержимые выводы, а также базовые сценарии поведения
        пользователей функционально разнесены на независимые элементы.</p>
    </div>
    <div class='sale-text__images'>
      <a href='images/video/1.jpg' data-fancybox='sale-text-image' class='sale-text__img-wrapper'>
        <img loading="lazy"  src='images/video/1.jpg' alt=''>
      </a>
      <a href='images/video/1.jpg' data-fancybox='sale-text-image' class='sale-text__img-wrapper'>
        <img loading="lazy"  src='images/video/1.jpg' alt=''>
      </a>
    </div>
  </div>
</div>
