{%- from 'system/component.njk' import component %}

<div class='sale-display'>
  <div class='container'>
    <div class='base-paragraph'>
      <p>С учётом сложившейся международной обстановки, дальнейшее развитие различных форм деятельности не
        даёт нам иного выбора, кроме определения своевременного выполнения сверхзадачи. С учётом сложившейся
        международной обстановки, дальнейшее развитие различных форм деятельности не даёт нам иного выбора, кроме
        определения своевременного выполнения сверхзадачи.</p>
    </div>
    <div class='sale-display__filter-wrapper'>
      <button class='btn btn_type_primary sale-display__filter-btn'>
        <span>Фильтры</span>
        <svg width='16' height='16'>
          <use xlink:href='sprite.svg#filter-filled'></use>
        </svg>
      </button>
      <div class='sale-display__filter'>
        {{ component('filter-bar') }}
      </div>
    </div>
    <div class='sale-display__cards'>
      {% for card in params.cards %}
        <div class='sale-display__item'>
          {{ component('product-card', {
            options: card
          }) }}
        </div>
      {% endfor %}
    </div>
    <div class='sale-display__more-wrapper'>
      <button class='btn btn_type_primary'>Показать еще (20)</button>
    </div>
    <div class='sale-display__pagination'>
      {{ component('pagination') }}
    </div>
  </div>
</div>
