{%- from "system/component.njk" import component -%}

<div class='special-offer'>
  <div class='container'>
    <div class='title title_type_primary special-offer__title'>Товары со скидкой</div>
    <div class='special-offer__cards slider slider_type_primary' data-swiper-type='primary'>
      <div class='swiper'>
        <div class='swiper-wrapper'>
          {% for card in params.cards %}
            <div class='swiper-slide special-offer__slide'>
              {{ component('product-card', {
                options: card
              }) }}
            </div>
          {% endfor %}
        </div>
      </div>
      {{ component('btn-arrows') }}
    </div>
  </div>
</div>
