{%- from "system/component.njk" import component %}

<div class='subscribe-section'>
  <div class='container subscribe-section__container radial-gradient'>
    <div class='subscribe-section__inner'>
      <div class='subscribe-section__title'>Будьте в курсе последних новостей и выгодных акций</div>
      <div class='subscribe-section__input-wrapper'>
        {{ component('base-input', {
          placeholder: 'Ваш e-mail',
          class: "subscribe-section__label"
        }) }}
        <button class='btn btn_type_secondary subscribe-section__btn'>Подписаться</button>
      </div>
    </div>
  </div>
</div>
