---
title: Личный кабинет
layout: page.njk
permalink: user-favorite.html
---

{%- from "system/block.njk" import block -%}

{{ block('breadcrumbs', {
  crumbs: ['Главная', 'Блог', 'Скидки']
}) }}

{{ block('user/user-layout', {
  layout: 'user/user-goods',
  options: {
    title: "Избранные товары",
    component: "product-card-row",
    type: "catalog",
    items: [
      { image: 'images/cards/1.png', cart: true, remove: true, sale: '-50%', name: 'Луковицы лилии Йеллоу Даймон,', count: '2', priceOld: '2 105 ₽', priceNew: '1 000 105 ₽'},
      { image: 'images/cards/2.png', cart: true, remove: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
      { image: 'images/cards/3.png', cart: true, remove: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'},
      { image: 'images/cards/4.png', cart: true, remove: true, name: 'Луковицы лилии Йеллоу Даймонд,', count: '2', priceNew: '1 000 105 ₽'}
    ]
  }
}) }}
