---
title: Личный кабинет
layout: page.njk
permalink: user-history.html
---

{%- from "system/block.njk" import block -%}

{{ block('breadcrumbs', {
  crumbs: ['Главная', 'Блог', 'Скидки']
}) }}

{{ block('user/user-layout', {
  layout: 'user/user-goods',
  options: {
    title: "История заказов",
    component: "card-order",
    items: [
      { city: "Россия г. Москва", street: "Народного ополчения 14 к 2 кв 49", count: 100, price: "11 111 105", paid: "Оплачено" },
      { city: "Россия г. Москва", street: "Народного ополчения 14 к 2 кв 49", count: 1, price: "11 111 105", delivery: "Ожидает получения" },
      { city: "Россия г. Москва", street: "Народного ополчения 14 к 2 кв 49", count: 1, price: "11 111 105", delivery: "Доставляется" },
      { city: "Россия г. Москва", street: "Народного ополчения 14 к 2 кв 49", count: 1, price: "11 111 105", fail: "Возврат товара" },
      { city: "Россия г. Москва", street: "Народного ополчения 14 к 2 кв 49", count: 1, price: "11 111 105", paid: "Оплачено" }
    ]
  }
}) }}

{{ block('user/user-layout', {
  layout: 'user/user-history'
}) }}

