---
title: Личный кабинет
layout: page.njk
permalink: user-password.html
---

{%- from "system/block.njk" import block -%}

{{ block('breadcrumbs', {
  crumbs: ['Главная', 'Блог', 'Скидки']
}) }}

{{ block('user/user-layout', {
  layout: 'user/user-change-password'
}) }}
