---
title: Личный кабинет
layout: page.njk
permalink: user-sale.html
---

{%- from "system/block.njk" import block -%}

{{ block('breadcrumbs', {
  crumbs: ['Главная', 'Блог', 'Скидки']
}) }}

{{ block('user/user-layout', {
  layout: 'user/user-sale',
  options: {
    title: "Персональные скидки",
    items: [
      { image: "images/sale.jpg", width: "530", height: "300", title: "Скидки -50% ", text: "Скидка на 50 наименований продукции! Только сейчас и только у нас!"},
      { image: "images/sale.jpg", width: "530", height: "300", title: "Скидки -50% ", text: "Скидка на 50 наименований продукции! Только сейчас и только у нас!"},
      { image: "images/sale.jpg", width: "530", height: "300", title: "Скидки -50% ", text: "Скидка на 50 наименований продукции! Только сейчас и только у нас!"},
      { image: "images/sale.jpg", width: "530", height: "300", title: "Скидки -50% ", text: "Скидка на 50 наименований продукции! Только сейчас и только у нас!"},
      { image: "images/sale.jpg", width: "530", height: "300", title: "Скидки -50% ", text: "Скидка на 50 наименований продукции! Только сейчас и только у нас!"},
      { image: "images/sale.jpg", width: "530", height: "300", title: "Скидки -50% ", text: "Скидка на 50 наименований продукции! Только сейчас и только у нас!"}
    ]
  }
}) }}
