---
title: Личный кабинет
layout: page.njk
permalink: user-order.html
---

{%- from "system/block.njk" import block -%}

{{ block('breadcrumbs', {
  crumbs: ['Главная', 'Блог', 'Скидки']
}) }}

{{ block('user/user-layout', {
  layout: 'user/user-order',
  options: {
    items: [
      { image: 'images/cards/1.png', sale: '-50%', name: 'Луковицы лилии Йеллоу Даймон,', quantity: '2', priceOld: '2 105 ₽', priceNew: '1 000 105 ₽'},
      { image: 'images/cards/2.png', name: 'Луковицы лилии Йеллоу Даймонд,', quantity: '2', priceNew: '1 000 105 ₽'},
      { image: 'images/cards/3.png', name: 'Луковицы лилии Йеллоу Даймонд,', quantity: '2', priceNew: '1 000 105 ₽'},
      { image: 'images/cards/4.png', name: 'Луковицы лилии Йеллоу Даймонд,', quantity: '2', priceNew: '1 000 105 ₽'}
    ]
  }
}) }}
