.order {
  margin-top: 40px;
  margin-bottom: 120px;

  &__inner {
    margin-top: 40px;
  }

  &__contact-inner {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
  }

  &__textarea {
    display: flex;
    grid-column: 1 / -1;
    height: 96px;
  }

  &__delivery-terms {
    display: grid;
    grid-row-gap: 40px;
    grid-column-gap: 52px;
    grid-template-columns: 2fr 3fr;
    margin-top: 40px;
  }

  &__buttons-group {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-top: 25px;
  }

  &__btn-wrapper {
    text-align: center;
  }

  &__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    padding: 15px;
    color: #797979;
    font-weight: 500;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;

    span {
      margin-top: 8px;
    }
  }

  &__radio {
    display: none;
  }

  &__radio:checked + &__btn {
    color: #fdfdfd;
    background-color: var(--color-green);
    border-color: var(--color-green);
  }

  &__delivery-item {
    &:nth-child(2) {
      grid-area: item-two;
      grid-column: 1/2;
    }
  }

  &__delivery-input-wrapper {
    position: relative;
    display: flex;
    grid-column: span 2;
    align-items: center;

    &::before {
      position: absolute;
      right: 20px;
      display: inline-block;
      padding: 4px;
      border: solid var(--color-grey);
      border-width: 0 2px 2px 0;
      transform: rotate(-45deg);
      content: '';
    }
  }

  &__delivery-total-wrapper {
    display: flex;
    grid-column: span 2;
    align-items: center;
    justify-content: space-between;
    color: var(--color-grey);
  }

  &__delivery-total-count {
    color: var(--color-black);
    font-weight: 700;
  }

  &__map-wrapper {
    display: flex;
    grid-area: map;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    overflow: hidden;
    border-radius: 4px;

    img {
      width: 100%;
      height: auto;
      background-color: var(--color-bg-grey);
    }
  }

  &__total-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding: 25px 0;
    color: var(--color-grey);
    border-bottom: 1px solid #e9e9e9;
  }

  &__total-count {
    color: var(--color-green);
    font-weight: 700;
    font-size: 31px;
    line-height: 1.2;
    text-align: right;
  }

  &__pay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
  }

  &__pay-btn {
    padding: 13px 115px;
  }

  @media (max-width: 768px) {
    margin-bottom: 64px;

    &__inner {
      margin-top: 32px;
    }

    &__contact-inner {
      grid-gap: 16px;
      grid-template-columns: 1fr;
      margin-top: 24px;
    }

    &__delivery-terms {
      grid-template-areas: 'item' 'map' 'item-two';
      grid-template-columns: 1fr;
      margin-top: 32px;
    }

    &__delivery-item {
      grid-area: item;
    }

    &__buttons-group {
      grid-gap: 16px;
    }

    &__map-wrapper {
      grid-row: auto;
      grid-column: auto;
    }

    &__btn {
      font-size: 14px;
    }

    &__total-text {
      font-weight: 400;
      font-size: 14px;
    }

    &__total-count {
      font-size: 22px;
      white-space: nowrap;
    }

    &__pay {
      .come-back {
        display: none;
      }

      .btn {
        width: 100%;
        padding: 13px;
      }
    }
  }

  @media (max-width: 375px) {
    &__buttons-group {
      grid-gap: 10px;
    }

    &__btn {
      padding: 10px;
      font-size: 12px;
    }
  }
}
