{%- from "system/component.njk" import component %}

<div class='user-layout'>
  <div class='container'>
    <div class='user-layout__title-wrapper'>
      <div class='title title_type_primary'>Личный кабинет</div>
      <button class='btn user-layout__btn-exit'>Выход</button>
    </div>
    <div class='user-layout__inner'>
      <div class='user-layout__menu'>
        {{ component('side-menu', {
          list: [
            {text: "Личные данные" },
            {text: "Мои адреса", active: true },
            {text: "Смена пароля"},
            {text: "Избранное"},
            {text: "История заказов"},
            {text: "Персональные скидки"},
            {text: "Подписка на рассылки"}
          ],
          exit: "Выход"
        }) }}
      </div>
      <div class='user-layout__content'>
        {{ component(params.layout, {
          options: params.options
        }) }}
      </div>
    </div>
  </div>
</div>
