{%- from "system/component.njk" import component %}

<div class='user-default'>
  <div class='container'>
    <div class='title title_type_primary'>Личный кабинет</div>
    <div class='user-default__inner'>
      <div class='user-default__menu'>
        <a href='#!' class='a-clear user-default__menu-item'>
          <svg class='user-default__menu-icon' width="24" height="24">
            <use xlink:href='sprite.svg#user-fill'></use>
          </svg>
          <div class='user-default__menu-text'>Личные данные</div>
        </a>
        <a href='#!' class='a-clear user-default__menu-item'>
          <svg class='user-default__menu-icon' width="24" height="24">
            <use xlink:href='sprite.svg#address'></use>
          </svg>
          <div class='user-default__menu-text'>Мои адреса</div>
        </a>
        <a href='#!' class='a-clear user-default__menu-item'>
          <svg class='user-default__menu-icon' width="24" height="24">
            <use xlink:href='sprite.svg#password'></use>
          </svg>
          <div class='user-default__menu-text'>Смена пароля</div>
        </a>
        <a href='#!' class='a-clear user-default__menu-item'>
          <svg class='user-default__menu-icon' width="24" height="24">
            <use xlink:href='sprite.svg#heart-filled'></use>
          </svg>
          <div class='user-default__menu-text'>Избарнное</div>
        </a>
        <a href='#!' class='a-clear user-default__menu-item'>
          <svg class='user-default__menu-icon' width="24" height="24">
            <use xlink:href='sprite.svg#history'></use>
          </svg>
          <div class='user-default__menu-text'>История заказов</div>
        </a>
        <a href='#!' class='a-clear user-default__menu-item'>
          <svg class='user-default__menu-icon' width="24" height="24">
            <use xlink:href='sprite.svg#sale-label'></use>
          </svg>
          <div class='user-default__menu-text'>Персональные скидки</div>
        </a>
        <a href='#!' class='a-clear user-default__menu-item'>
          <svg class='user-default__menu-icon' width="24" height="24">
            <use xlink:href='sprite.svg#share-other'></use>
          </svg>
          <div class='user-default__menu-text'>Подписка на рассылки</div>
        </a>
        <a href='#!' class='a-clear user-default__menu-item user-default__menu-item_exit'>
          <svg class='user-default__menu-icon' width="24" height="24">
            <use xlink:href='sprite.svg#exit'></use>
          </svg>
          <div class='user-default__menu-text'>Выход</div>
        </a>

      </div>
      <div class='user-default__content' data-swiper-type='primary'>
        <div class='title title_type_secondary user-default__title_secondary'>Вы недавно просматривали</div>
        <div class='user-default__arrows'>
          {{ component('btn-arrows') }}
        </div>
        <div class='user-default__swiper-wrapper'>
          <div class='swiper'>
            <div class='swiper-wrapper'>
              {% for item in params.cards %}
                <div class='swiper-slide'>
                  {{ component('product-card', {
                    options: item
                  }) }}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
