<div class='user-order'>
  <div class='title title_type_secondary user-order__title'>Заказ 787898</div>
  <div class='user-order__info'>
    <div class='user-order__info-title'>Информация о заказе</div>
    <div class='user-order__col'>
      <div class='user-order__item'>
        <svg width='16' height='16'>
          <use xlink:href='sprite.svg#user-fill'></use>
        </svg>
        <span class='user-order__text'>Иванько Иван Иванович</span>
      </div>
      <div class='user-order__item'>
        <svg width='16' height='16'>
          <use xlink:href='sprite.svg#location'></use>
        </svg>
        <span class='user-order__text'>Россия г. Москва 1-й Угрешский проезд, 40А кв 507</span>
      </div>
      <div class='user-order__item'>
        <svg width='16' height='16'>
          <use xlink:href='sprite.svg#phone'></use>
        </svg>
        <span class='user-order__text'>+7 (926) 127 39 04</span>
      </div>
      <div class='user-order__item'>
        <svg width='16' height='16'>
          <use xlink:href='sprite.svg#mail'></use>
        </svg>
        <span class='user-order__text'>ivantus098@gmail.com</span>
      </div>
    </div>
    <div class='user-order__col'>
      <div class='user-order__item'>
        <svg width='16' height='16'>
          <use xlink:href='sprite.svg#sale'></use>
        </svg>
        <span class='user-order__text'>Скидка: отсутствует</span>
      </div>
      <div class='user-order__item'>
        <svg width='16' height='16'>
          <use xlink:href='sprite.svg#box'></use>
        </svg>
        <span class='user-order__text'>Доставка: курьер</span>
      </div>
      <div class='user-order__item'>
        <svg width='16' height='16'>
          <use xlink:href='sprite.svg#check-mark-done'></use>
        </svg>
        <span class='user-order__text'>Статус: получено</span>
      </div>
      <div class='user-order__item'>
        <svg width='16' height='16'>
          <use xlink:href='sprite.svg#number'></use>
        </svg>
        <span class='user-order__text'>Трекномер: 787898</span>
      </div>
      <a href='#!' class='a-clear user-order__track'>Отследить посылку</a>
    </div>
  </div>
  <div class='user-order__cards'>
    {% for item in params.options.items %}
      {{ component('product-card-row', {
        type: 'user',
        options: item
      }) }}
    {% endfor %}
  </div>
</div>
