<div class='user-addresses'>
  <div class='title title_type_secondary'>Мои адреса</div>
  <div class='user-addresses__inner'>
    <div class='user-addresses__item'>
      <div class='user-addresses__text-wrapper'>
        <div class='user-addresses__city'>Россия г. Москва</div>
        <div class='user-addresses__street'>Народного ополчения 14 к 2 кв 49</div>
      </div>
      <div class='user-addresses__buttons-group'>
        <button class='btn user-addresses__btn user-addresses__btn_change'>
          <svg width="16" height="16">
            <use xlink:href='sprite.svg#edit'></use>
          </svg>
          <span>Изменить</span>
        </button>
        <button class='btn user-addresses__btn user-addresses__btn_remove'>
          <svg width="16" height="16">
            <use xlink:href='sprite.svg#delete'></use>
          </svg>
          <span>Удалить</span>
        </button>
      </div>
    </div>
    <div class='user-addresses__item'>
      <div class='user-addresses__text-wrapper'>
        <div class='user-addresses__city'>Россия г. Москва</div>
        <div class='user-addresses__street'>Народного ополчения 14 к 2 кв 49</div>
      </div>
      <div class='user-addresses__buttons-group'>
        <button class='btn user-addresses__btn user-addresses__btn_change'>
          <svg width="16" height="16">
            <use xlink:href='sprite.svg#edit'></use>
          </svg>
          <span>Изменить</span>
        </button>
        <button class='btn user-addresses__btn user-addresses__btn_remove'>
          <svg width="16" height="16">
            <use xlink:href='sprite.svg#delete'></use>
          </svg>
          <span>Удалить</span>
        </button>
      </div>
    </div>
    <div class='user-addresses__item'>
      <div class='user-addresses__text-wrapper'>
        <div class='user-addresses__city'>Россия г. Москва</div>
        <div class='user-addresses__street'>Народного ополчения 14 к 2 кв 49</div>
      </div>
      <div class='user-addresses__buttons-group'>
        <button class='btn user-addresses__btn user-addresses__btn_change'>
          <svg width="16" height="16">
            <use xlink:href='sprite.svg#edit'></use>
          </svg>
          <span>Изменить</span>
        </button>
        <button class='btn user-addresses__btn user-addresses__btn_remove'>
          <svg width="16" height="16">
            <use xlink:href='sprite.svg#delete'></use>
          </svg>
          <span>Удалить</span>
        </button>
      </div>
    </div>
  </div>
  <div class='user-addresses__btn-wrapper'>
    <button class='btn btn_type_additional'>Добавить новый адрес</button>
  </div>
</div>
