<div class='user-goods'>
  <div class='title title_type_secondary user-goods__title'>{{ params.options.title }}</div>
  {% for item in params.options.items %}
    <div class='user-goods__item'>
      {{ component(params.options.component, {
        type: params.options.type,
        options: item
      }) }}
    </div>
  {% endfor %}
</div>
