<div class='user-sale'>
  <div class='title title_type_secondary'>{{ params.options.title }}</div>
  <div class='user-sale__inner'>
    {% for item in params.options.items %}
      <div class='user-sale__item'>
        {{ component('sale-item', {
          options: item
        }) }}
      </div>
    {% endfor %}
  </div>
</div>
