<div class='user-change-password'>
  <div class='title title_type_secondary user-change-password__title'>Смена пароля</div>
  {{ component('base-field-input', {
    items: [
      { class: "user-change-password__old-password", placeholder: "Введите старый пароль" },
      { placeholder: "Введите новый пароль" },
      { placeholder: "Повторите новый пароль" }
    ]
  }) }}
  <button class='btn btn_type_additional user-change-password__btn'>Сохранить</button>
</div>
