<div class='user-subscribe'>
  <div class='title title_type_secondary user-subscribe__title'>Подпишитесь на рассылку</div>
  <div class='user-subscribe__inputs'>
    {{ component('base-input', { placeholder: "Имя" }) }}
    {{ component('base-input', { placeholder: "Фамилия" }) }}
    {{ component('base-input', { placeholder: "Имя" }) }}
    {{ component('base-input', { placeholder: "Электронная почта" }) }}
  </div>
  <div class='user-subscribe__agree'>
    {{ component('base-checkbox', {
      text: "Согласие на рассылку",
      condition: 'checked'
    }) }}
    {{ component('base-checkbox', {
      text: "Согласие на SMS рассылку",
      condition: 'checked'
    }) }}
  </div>
  <div class='user-subscribe__btn-wrapper'>
    <button class='btn btn_type_additional user-subscribe__btn'>Подписаться</button>
  </div>
</div>
