<div class='user-add-address'>
  <div class='user-add-address__title-wrapper'>
    <div class='title title_type_secondary '>Новый адрес</div>
  </div>
  <div class='user-add-address__inner'>
    {{ component('base-field-input', {
      items: [
        { placeholder: "Город, Улица, Дом, Квартира", class: 'user-add-address__label' }
      ]
    }) }}
    <button class='btn btn_type_additional user-add-address__btn '>Сохранить</button>
  </div>
</div>
