<div class='user-history'>
  <div class='title title_type_secondary'>История заказов</div>
  <div class='user-history__text'>
    Похоже, вы не совершали покупки. Перейдите в каталог
    или обратитесь в <a href='#!' class='a-clear user-history__link'>службу поддержки</a>.
  </div>
  <button class='btn btn_type_additional user-history__btn'>В каталог</button>
</div>
