<div class='user-data'>
  <div class='title title_type_secondary'>Личные данные</div>
  <div class='user-data__grid'>
  <div class='title title_type_third user-data__title_third'>Персональная информация</div>
    {{ component('base-field-input', {
      items: [
        { class: "user-data__input_lastname", placeholder: "ФИО" },
        { placeholder: "Телефон", type: 'tel' },
        { placeholder: "Электронная почта" }
      ]
    }) }}
  </div>
  <div class='user-data__grid user-data__grid_additional'>
    <div class='title title_type_third user-data__title_third'>Социальные сети</div>
    {{ component('base-field-input', {
      items: [
        { placeholder: "Vkontakte" },
        { placeholder: "Facebook" },
        { placeholder: "Instagram" },
        { placeholder: "Odnoklasniki" },
        { placeholder: "TikTok" }
      ]
    }) }}
  </div>
  <div class='user-data__grid'>
    <button class='btn btn_type_additional'>Сохранить</button>
  </div>
</div>
