<div class='user-my-addresses'>
  <div class='title title_type_secondary'>Мои адреса</div>
  <div class='user-my-addresses__text base-paragraph'>
    <p>Здесь ничего нет. Добавьте новый адрес, это облегчит ваши покупки
      в нашем интернет-магазине</p>
  </div>
  <button class='btn btn_type_additional user-my-addresses__btn'>Добавить новый адрес</button>
</div>
