.user-addresses {
  display: grid;
  grid-gap: 30px;

  &__inner {
    display: grid;
    grid-gap: 30px;
  }

  &__item {
    display: flex;
    grid-gap: 20px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 25px;
    background-color: #fdfdfd;
    border: 0.5px solid #e9e9e9;
    border-radius: 4px;

    &:hover {
      box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
    }
  }

  &__text-wrapper {
    flex-grow: 1;
  }

  &__buttons-group {
    display: flex;
    align-items: center;
  }

  &__btn {
    padding: 0;
    color: var(--color-grey);
    font-weight: normal;
    font-size: 14px;

    svg {
      margin-right: 6px;
    }

    &_change {
      margin-right: 20px;

      &:hover {
        color: var(--color-green);
      }
    }

    &_remove {
      &:hover {
        color: var(--color-red);
      }
    }
  }

  &__btn-wrapper {
    text-align: center;

    .btn {
      padding: 13px 48px;
    }
  }

  @media (max-width: 768px) {
    grid-gap: 16px;

    &__inner {
      grid-gap: 8px;
    }

    &__item {
      padding: 16px;
      font-size: 14px;
    }

    &__btn {
      span {
        display: none;
      }
    }
  }

  @media (max-width: 425px) {
    &__btn-wrapper {
      .btn {
        width: 100%;
        padding: 13px;
      }
    }
  }
}
