.user-default {
  margin-top: 20px;
  margin-bottom: 120px;

  &__menu {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
  }

  &__menu-icon {
    color: #bdbdbd;
  }

  &__menu-text {
    margin-top: 10px;
    color: #4f4f4f;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
  }

  &__menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 25px;
    background-color: #fdfdfd;
    border: 0.5px solid #e9e9e9;
    border-radius: 4px;
    transition: 0.3s;

    &_exit {
      & > .user-default__menu-icon {
        color: #e0e0e0;
      }

      & > .user-default__menu-text {
        color: #828282;
      }
    }

    &:not(&_exit):hover .user-default__menu-icon,
    &:not(&_exit):hover .user-default__menu-text {
      color: #98c33b;
    }
  }

  &__content {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    margin-top: 40px;
  }

  &__arrows {
    display: flex;
    justify-content: flex-end;

    .btn-arrows__item {
      position: relative;

      &:first-child {
        margin-right: 25px;
      }
    }
  }

  &__swiper-wrapper {
    grid-column: 1/-1;
  }

  @media (max-width: 768px) {
    margin-top: 12px;
    margin-bottom: 64px;

    &__title {
      &_secondary {
        grid-area: title;
      }
    }

    &__menu {
      grid-gap: 8px;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 24px;
    }

    &__menu-item {
      &:not(&_exit):hover .user-default__menu-text {
        color: #4f4f4f;
      }
    }

    &__menu-icon {
      color: #98c33b;
    }

    &__content {
      grid-gap: 24px;
      grid-template-areas: 'title' 'swiper' 'arrows';
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    &__swiper-wrapper {
      grid-area: swiper;
      grid-column: auto;
    }

    &__arrows {
      grid-area: arrows;
      justify-content: center;
    }
  }

  @media (max-width: 375px) {
    &__menu-item {
      padding: 15px;
    }
  }
}
