.add-to-cart {
  &__title {
    color: #4a4a4a;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
  }

  &__items {
    display: grid;
    grid-gap: 24px;
    margin-top: 48px;
  }

  &__item {
    display: grid;
    grid-gap: 11px;
    grid-template-columns: 110px 160px 90px 100px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.3;
  }

  &__image-wrapper {
    display: flex;
    overflow: hidden;
    border-radius: 4px;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      background-color: #fefefe;
    }
  }

  &__count {
    text-align: center;
  }

  &__price {
    font-weight: 800;
  }

  &__buttons {
    display: flex;
    grid-gap: 45px;
    margin-top: 42px;
  }

  &__button {
    width: 100%;
    white-space: nowrap;
  }

  @media (max-width: 768px) {
    &__items {
      grid-gap: 14px;
      margin-top: 28px;
    }

    &__item {
      grid-template-areas: 'image name' 'image count' 'image price';
      grid-template-columns: 110px 1fr;
    }

    &__image-wrapper {
      grid-area: image;
    }

    &__name {
      grid-area: name;
    }

    &__count {
      grid-area: count;
      text-align: left;
    }

    &__price {
      grid-area: price;
    }
  }

  @media (max-width: 500px) {
    &__buttons {
      flex-direction: column;
      grid-gap: 12px;
      margin-top: 52px;
    }
  }
}
