.aside-socials {
  --social-color: #fff;

  position: fixed;
  top: 100px;
  z-index: 20;
  display: grid;
  grid-gap: 15px;
  margin-left: 20px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #fff;
    background-color: var(--social-color);
    border-radius: 4px;
    transition: background-color 0.3s;

    &_type {
      &_telegram {
        --social-color: #40b3e0;

        &:hover {
          background-color: darken(#40b3e0, 10%);
        }
      }

      &_whatsapp {
        --social-color: #00e676;

        &:hover {
          background-color: darken(#00e676, 10%);
        }
      }

      &_viber {
        --social-color: #9b51e0;

        &:hover {
          background-color: darken(#9b51e0, 10%);
        }
      }
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}
