.base-tabs {
  &__menu {
    display: flex;
    grid-gap: 60px;
    align-items: flex-end;
    border-bottom: 2px solid #e9e9e9;
  }

  &__menu-btn {
    position: relative;
    padding: 0 0 10px;
    color: var(--color-grey);
    font-weight: 500;

    &:hover {
      color: var(--color-black);
    }

    &.active {
      color: var(--color-green);

      &::after {
        position: absolute;
        right: 0;
        bottom: -2px;
        left: 0;
        border-bottom: 2px solid var(--color-green);
        content: '';
      }
    }
  }

  &__content {
    display: none;
    margin-top: 20px;
    padding: 30px;
    background-color: #fdfdfd;
    border-radius: 4px;

    &.active {
      display: grid;
    }

    &_type {
      &_about {
        grid-gap: 25px;
        grid-template-columns: 171px 1fr;

        .card-tabs__desc {
          grid-row: 1/3;
          grid-column: 2/-1;

          p {
            font-size: 14px;
          }
        }
      }

      &_specifications {
        grid-gap: 25px;
        grid-template-columns: 278px 1fr;
      }

      &_how-to-plant,
      &_recommendations {
        .card-tabs__desc-text {
          margin-top: 20px;
        }
      }

      &_questions {
        grid-template-columns: 221px 1fr;
      }
    }
  }

  &__btn-show {
    justify-content: flex-start;
    margin-top: auto;
    padding: 0;
    color: var(--color-red);
    font-weight: normal;
    font-size: 14px;
    text-decoration-line: underline;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
  }

  &__subtitle {
    margin-top: 15px;
    color: var(--color-grey);
    font-size: 14px;
  }

  &__photo-video {
    margin-top: 20px;
  }

  &__reviews {
    display: none;
    margin-top: 25px;

    &.active {
      display: block;
    }
  }

  &__reviews-inner {
    column-count: 2;
  }

  &__review {
    margin-bottom: 25px;
    break-inside: avoid;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__reviews-btn-wrapper {
    margin-top: 25px;
    text-align: center;

    .btn {
      padding: 13px 38px;
    }
  }

  &__feedback {
    margin-top: 80px;
  }

  @media (max-width: 768px) {
    &__nav {
      width: auto;
      padding-bottom: 4px;
      overflow-x: scroll;
    }

    &__menu {
      grid-gap: 40px;
    }

    &__menu-item {
      white-space: nowrap;
    }

    &__title {
      font-size: 22px;
    }

    &__photo-video {
      margin-top: 16px;
    }

    &__subtitle {
      margin-top: 12px;
      font-size: 12px;
    }

    &__reviews-inner {
      column-count: 1;
    }

    &__review {
      margin-bottom: 16px;
    }

    &__content {
      margin-top: 16px;
      padding: 16px;

      &_type {
        &_about {
          grid-gap: 12px;
          grid-template-columns: 1fr;

          .card-tabs__desc {
            grid-row: auto;
            grid-column: auto;
          }
        }

        &_specifications {
          grid-gap: 16px;
          grid-template-columns: 1fr;
        }

        &_how-to-plant,
        &_recommendations {
          .card-tabs__desc-text {
            margin-top: 20px;
          }
        }

        &_questions {
          grid-template-columns: 221px 1fr;
        }
      }
    }
  }

  @media (max-width: 425px) {
    &__menu {
      grid-gap: 24px;
    }

    &__reviews-btn-wrapper {
      margin-top: 16px;

      .btn {
        width: 100%;
        padding: 13px;
      }
    }
  }
}
