.catalog-block {
  &__title {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;
  }

  &__cards {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 18px;
    }

    &__cards {
      grid-gap: 8px;
      margin-top: 16px;
    }
  }

  @media (max-width: 600px) {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
