.fancy-towns {
  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
  }

  &__input {
    margin-top: 20px;
  }

  &__group {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
    margin-top: 20px;
  }

  &__group-col {
    display: flex;
    flex-direction: column;
  }

  &__group-item {
    display: inline-block;
    color: var(--color-grey);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.3;
    white-space: nowrap;

    &:not(:last-child) {
      margin-bottom: 18px;
    }

    &.current {
      color: #98c33b;

      &:hover {
        color: #98c33b;
      }
    }

    &:hover {
      color: #4a4a4a;
    }
  }

  @media (max-width: 768px) {
    &__group {
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 375px) {
    &__group {
      grid-gap: 12px;
      grid-template-columns: repeat(1, 1fr);
    }

    &__group-item {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}
