.favorite-button {
  padding: 16px;
  color: var(--color-green);
  background-color: #fff;
  border: 1px solid var(--color-green);
  border-radius: 4px;
  transition: color 0.3s, background-color 0.3s;

  @media (max-width: 1024px) {
    width: auto;
    padding: 0;
    background-color: transparent;
    border: none;
  }

  @media (hover: hover) {
    &:hover {
      color: #fff;
      background-color: var(--color-green);
    }
  }
}
