.feedback {
  padding: 30px;
  background: #fdfdfd;
  border-radius: 4px;

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
  }

  &__inner {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
  }

  &__textarea {
    grid-column: 1/-1;
  }

  &__grade {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  &__grade-text {
    margin-right: 16px;
    color: var(--color-grey);
    font-weight: 400;
    font-size: 17px;
    line-height: 1.6;
  }

  &__btn {
    margin-top: 30px;

    .btn {
      width: 243px;
    }
  }
}
