.more-menu {
  position: relative;

  &__btn {
    display: flex;
    align-items: center;
    padding: 0;
    color: var(--color-grey);
    font-weight: normal;
    font-size: 14px;
    transition: transform 0.3s, color 0.3s;

    svg {
      margin-left: 5px;
    }

    &.active {
      svg {
        transform: rotate(180deg);
      }
    }

    &:hover {
      color: var(--color-black);
    }
  }

  &__inner {
    position: absolute;
    top: 20px;
    z-index: 20;
    display: none;
    grid-gap: 15px;
    box-sizing: border-box;
    padding: 16px;
    color: var(--color-grey);
    background: #fdfdfd;
    border: 0.5px solid #e9e9e9;
    border-radius: 0 4px 4px 4px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.05);
  }

  &__btn.active + &__inner {
    display: grid;
  }

  &__item {
    white-space: nowrap;

    &.active {
      color: var(--color-green);
    }

    &:not(.active):hover {
      color: var(--color-black);
    }
  }
}
