.my-mmenu {
  --mm-color-background: #fdfdfd;
  --mm-color-background-highlight: #fdfdfd;

  width: 80vw;

  &__logo-wrapper:not(.class-for-increase-specificity) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
  }

  &__logo {
    img {
      max-width: 123px;
      height: auto;
      background-color: var(--color-bg-grey);
    }
  }

  &__title {
    color: var(--color-grey);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
  }

  &__menu:not(.class-for-increase-specificity) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__socials {
    &_top {
      display: flex;
      grid-gap: 24px;
      align-items: center;
      padding-bottom: 16px;
      padding-left: 16px;
      color: #fff;
    }

    &_bottom {
      padding: 13px 16px 16px;
    }
  }

  &__socials-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 4px;

    &_telegram {
      background-color: #40b3e0;
    }

    &_whatsapp {
      background-color: #00e676;
    }

    &_viber {
      background-color: #9b51e0;
    }

    &_telephone {
      background-color: #98c33b;
    }

    &_mail {
      background-color: #e03232;
    }
  }

  .mm-navbars_top {
    .mm-navbar {
      border-bottom: none;
    }
  }

  .mm-navbar__title {
    color: var(--color-black);
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;

    &:hover {
      color: var(--color-black);
    }
  }

  .mm-navbar > * {
    justify-content: flex-start;
  }

  .mm-listitem_opened {
    & > .mm-listitem__btn {
      color: var(--color-green);

      &::after {
        border-color: var(--color-green);
      }
    }
  }

  &__search {
    .mm-navbar {
      border-bottom: none;
    }
  }

  &__search-wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }

  &__search-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
  }

  &__search-input {
    width: 100%;
    color: var(--color-black);
    background-color: transparent;
    border: none;
    outline: none;

    &::placeholder {
      color: var(--color-grey);
      font-size: 14px;
    }
  }

  &__search-btn {
    padding: 0;
    color: #aaa;
    outline: none;
  }

  &__results,
  &__towns {
    --mm-color-text: var(--color-black);

    margin-top: 8px;
    padding-right: 20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.3;

    &_additional {
      padding-left: 20px;
    }
  }

  &__resutlts-title {
    color: #4a4a4a;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
  }

  &__results-items {
    display: grid;
    grid-gap: 16px;
    margin-top: 16px;

    span {
      font-size: 14px;
    }
  }

  &__result-item {
    display: flex;
    align-items: center;
    white-space: break-spaces;

    img {
      flex-shrink: 0;
      width: 32px;
      height: 32px;
      margin-right: 8px;
      background-color: var(--color-bg-grey);
      border-radius: 4px;
    }
  }

  &__town {
    &.active {
      --mm-color-text: var(--color-green);
    }
  }

  @media (max-width: 375px) {
    &__socials {
      &_top {
        grid-gap: 10px;
      }
    }
  }
}
