.product-card {
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  margin: 0 auto;
  padding: 15px;
  background-color: #fff;
  border: 0.5px solid #e9e9e9;
  border-radius: 4px;
  transition: box-shadow 0.3s;

  &__img-wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 4px;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      background-color: var(--color-bg-grey);
    }
  }

  &__labels {
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
  }

  &__name {
    max-width: 191px;
    margin-top: 10px;
    font-weight: 500;
  }

  &__count {
    font-weight: 500;

    span {
      color: var(--color-grey);
      font-weight: 400;
    }
  }

  &__availability {
    margin-top: 4px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 6px;
    font-weight: 800;
  }

  &__price {
    &_old {
      color: var(--color-red);
      font-weight: 700;
      font-size: 14px;
      text-decoration-line: line-through;
    }
  }

  @media (hover: hover) {
    &:hover {
      box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    }
  }

  @media (max-width: 768px) {
    padding: 8px 8px 10px;

    &__img-wrapper {
      img {
        max-width: none;
      }
    }

    &__name,
    &__count {
      font-size: 14px;
    }

    &__price {
      &_new {
        font-size: 14px;
      }

      &_old {
        font-size: 12px;
      }
    }

    &__cart {
      .cart-btn {
        padding: 7px 12px;
      }
    }
  }

  @media (max-width: 375px) {
    &__price {
      &_new {
        font-size: 12px;
      }
    }
  }
}
