.product-catalog-list {
  position: relative;
  height: 100%;
  transition: 0.3s;

  &__btn {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: var(--color-green);

    svg {
      margin-left: 30px;
    }

    &:hover {
      background-color: darken(#98c33b, 5%);
    }
  }

  &__catalog,
  &__sub-catalog {
    position: absolute;
    top: 48px;
    z-index: 10;
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 250px;
    color: var(--color-grey);
    font-size: 16px;
    background-color: var(--color-bg-white);
    border: 0.5px solid #e9e9e9;
    border-radius: 0 4px 4px 4px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
  }

  &__btn.active + &__catalog {
    display: flex;
  }

  &__sub-catalog {
    top: -16px;
    left: 100%;
  }

  &__catalog-item {
    position: relative;
    padding: 14px 21px 14px 16px;

    &:not(:last-child) {
      border-bottom: 1px solid #e9e9e9;
    }

    &.active {
      color: var(--color-green);

      .product-catalog-list__sub-catalog {
        display: flex;
      }
    }
  }

  &__catalog-link {
    &:hover {
      color: var(--color-green);
    }
  }
}
