.range {
  .noUi-handle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--color-green);
    border: none;
    box-shadow: none;

    &::before,
    &::after {
      position: relative;
      top: auto;
      right: auto;
      left: auto;
      background: #fdfdfd;
      border-radius: 4px;
    }
  }

  &.noUi-horizontal {
    height: 4px;

    .noUi-handle {
      top: -8px;
      right: -7px;
      width: 12px;
      height: 20px;
    }
  }

  &.noUi-target {
    background: #d9d9d9;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .noUi-touch-area {
    width: 1px;
    height: 14px;
    background: #fdfdfd;
  }

  .noUi-connect {
    background: var(--color-green);
  }
}
