.review {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
  background-color: #fdfdfd;
  border-radius: 4px;

  &__top {
    display: flex;
    align-items: center;
  }

  &__user {
    display: flex;
  }

  &__ava {
    display: flex;
    overflow: hidden;
    border-radius: 4px;

    img {
      max-width: 65px;
      height: auto;
      object-fit: cover;
      background-color: var(--color-bg-grey);
    }
  }

  &__name-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
  }

  &__name {
    font-weight: 500;
  }

  &__level {
    margin-top: 6px;
    color: var(--color-grey);
    font-weight: normal;
  }

  &__date-wrapper {
    flex-grow: 1;
    text-align: right;
  }

  &__date {
    margin-bottom: 9px;
    color: #aaa;
  }

  &__content {
    display: grid;
    grid-gap: 10px;
    height: 100%;
    margin-top: 15px;
  }

  &__photo-title {
    font-weight: 500;
    font-size: 17px;
  }

  &__photo-inner {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 15px;
  }

  &__photo-item {
    display: flex;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      background-color: var(--color-bg-grey);
    }
  }

  &__text {
    color: var(--color-grey);
    font-size: 17px;
    line-height: 1.6;
  }

  &_small &__text {
    max-height: 162px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__answer {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #e0e0e0;
  }

  &__answer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__answer-text {
    margin-top: 15px;
    color: var(--color-black);
    font-weight: 500;
    font-size: 17px;
    line-height: 1.6;
  }

  @media (max-width: 768px) {
    padding: 0;

    &__top {
      padding: 16px 16px 12px;
      border-bottom: 1px solid #e9e9e9;
    }

    &__content {
      margin-top: 0;
      padding: 12px 16px 16px;
    }

    &__name-wrapper,
    &__date-wrapper,
    &__text {
      font-size: 14px;
    }
  }

  @media (max-width: 350px) {
    &__name-wrapper,
    &__date-wrapper {
      font-size: 10px;
    }

    &__name-wrapper {
      margin-left: 8px;
    }

    .rating__item {
      width: 12px;
      height: 12px;
    }
  }
}
