.type-plants {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

  &__item {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 9px;
    color: var(--color-grey);
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    cursor: pointer;

    &.active {
      color: var(--color-green);
      background-color: #fdfdfd;
    }
  }

  @media (max-width: 768px) {
    display: flex;
    grid-gap: 11px;
    width: auto;
    padding-bottom: 12px;
    overflow-x: scroll;
    font-size: 14px;
    white-space: nowrap;
  }
}
